@import "fontawesome";
@import "light";
@import "regular";
@import "solid";
@import "brands";

// Status icons
$icon-success: fa-content($fa-var-check-circle);
$icon-info: fa-content($fa-var-info);
$icon-warning: fa-content($fa-var-exclamation-triangle);
$icon-danger: fa-content($fa-var-times-octagon);

//Once all admin pages are updated to Lighthouse, replace these in the tbl_AdminMenu table with li icon classes
.fa-{
	&caret-right:before {
		content: fa-content($fa-var-caret-right);
	}
	
	&cubes:before {
		content: fa-content($fa-var-cubes);
	}
	
	&street-view:before {
		content: fa-content($fa-var-street-view);
	}
	
	&bullhorn:before {
		content: fa-content($fa-var-bullhorn);
	}
	
	&print:before {
		content: fa-content($fa-var-print);
	}
	
	&th-list:before {
		content: fa-content($fa-var-th-list);
	}
	
	&users:before {
		content: fa-content($fa-var-users);
	}
	
	&check-square:before {
		content: fa-content($fa-var-check-square);
	}
	
	&tag:before {
		content: fa-content($fa-var-tag);
	}
	
	&cogs:before {
		content: fa-content($fa-var-cogs);
	}
	
	&bars:before {
		content: fa-content($fa-var-bars);
	}
	
	&search-plus:before {
		content: fa-content($fa-var-search-plus);
	}
	
	&search-minus:before {
		content: fa-content($fa-var-search-minus);
	}
}


.#{$fa-css-prefix}-{
//MISC
	&angle-up:before{
		content: fa-content($fa-var-angle-up);
	}
	
	&angle-down:before{
		content: fa-content($fa-var-angle-down);
	}
	
	&credit-card:before{
		content: fa-content($fa-var-credit-card);
	}
	
	&mail:before, &email:before, &e-mail:before {
		content: fa-content($fa-var-envelope);
	}
	
	&warning:before{
		content: fa-content($fa-var-exclamation-triangle);
	}
	
	&return:before{
		content: fa-content($fa-var-reply);
	}
	
	&return-all:before{
		content: fa-content($fa-var-reply-all);
	}
	
	&file-excel:before{
		content: fa-content($fa-var-file-excel);
	}
	
	&sort-numeric-down:before{
		content: fa-content($fa-var-sort-numeric-down);
	}
	
	&plus-square:before{
		content: fa-content($fa-var-plus-square);
	}
	
	&documentation:before {
		content: fa-content($fa-var-file-alt);
	}
	
	&redo:before{
		content: fa-content($fa-var-redo-alt);
	}
	
	&bulk-select:before{
		content: fa-content($fa-var-check-double);
	}
	
	&phone:before{
		content: fa-content($fa-var-phone);
	}
	
	&plus:before{
		content: fa-content($fa-var-plus);
	}
	
	&angle-up:before{
		content: fa-content($fa-var-angle-up);
	}
	
	&angle-down:before{
		content: fa-content($fa-var-angle-down);
	}
	
	&angle-left:before{
		content: fa-content($fa-var-angle-left);
	}
	
	&angle-right:before{
		content: fa-content($fa-var-angle-right);
	}
	
	&arrow-up:before{
		content: fa-content($fa-var-arrow-up);
	}
	
	&arrow-down:before{
		content: fa-content($fa-var-arrow-down);
	}
	
	&arrow-left:before{
		content: fa-content($fa-var-arrow-left);
	}
	
	&arrow-right:before{
		content: fa-content($fa-var-arrow-right);
	}
	
	&chevron-double-right:before{
		content: fa-content($fa-var-chevron-double-right);
	}
	
	&chevron-double-left:before{
		content: fa-content($fa-var-chevron-double-left);
	}
	
	&chevron-right:before{
		content: fa-content($fa-var-chevron-double-left);
	}
	
	&chevron-left:before{
		content: fa-content($fa-var-chevron-double-left);
	}
	
	&phone:before{
		content: fa-content($fa-var-phone);
	}
	
	&random:before{
		content: fa-content($fa-var-random);
	}
	
	&properties:before{
		content: fa-content($fa-var-tools);
	}
	
	&loading:before {
		content: fa-content($fa-var-spinner);
	}
	
	&link:before {
		content: fa-content($fa-var-link);
	}
	
	&exchange:before {
		content: fa-content($fa-var-exchange-alt);
	}
	
	&manage:before {
		content: fa-content($fa-var-bars);
	}
	
	&check:before {
		content: fa-content($fa-var-check);
	}
	
	&expire:before {
		content: fa-content($fa-var-frown-open);
	}
	
	&back:before {
		content: fa-content($fa-var-arrow-to-left);
	}
	
	&undo:before {
		content: fa-content($fa-var-undo);
	}
	
	&edit:before {
		content: fa-content($fa-var-edit);
	}
	
	&icon:before {
		content: fa-content($fa-var-square);
	}
	
	&undo:before {
		content: fa-content($fa-var-undo);
	}
	
	&archive:before {
		content: fa-content($fa-var-archive);
	}
	
	&help:before {
		content: fa-content($fa-var-question-circle);
	}
	
	&re-order:before {
		content: fa-content($fa-var-ellipsis-v);
	}
	
	&thumbnail:before {
		content: fa-content($fa-var-image);
	}
	
	&remove:before {
		content: fa-content($fa-var-trash);
	}
	
	&user-times:before {
		content: fa-content($fa-var-user-times);
	}
	
	&toggle-on:before {
		content: fa-content($fa-var-toggle-on);
	}
	
	&toggle-off:before {
		content: fa-content($fa-var-toggle-off);
	}
	
	&passes:before, &player-passes:before, &player-pass:before {
		content: fa-content($fa-var-list-alt);
	}
	
	&featured-on{
		color: $gold !important;
		
		&:before {
			content: fa-content($fa-var-star);
		}
	}
	
	&featured-off{
		color: $gray-700 !important;

		&:before {
			content: fa-content($fa-var-star);
		}
	}
	
	&display-on{
		color: $purple !important;
		
		&:before {
			content: fa-content($fa-var-toggle-on);
		}
	}
	
	&display-off{
		color: $gray-700 !important;

		&:before {
			content: fa-content($fa-var-toggle-off);
		}
	}
	
	&display-on:hover, &display-off:hover{
		color: $blue !important;
	}
	
	&search:before {
		content: fa-content($fa-var-search);
	}
	
	&preview:before, &new-tab:before {
		content: fa-content($fa-var-window-restore);
	}

//DASHBOARD
	&dashboard:before {
		content: fa-content($fa-var-tachometer-alt);
	}
	
	&new-sale:before {
		content: fa-content($fa-var-cart-plus);
	}
	
	&credit-card-reader:before {
		content: fa-content($fa-var-credit-card-front);
	}
	
	&time-period:before {
		content: fa-content($fa-var-clock);
	}
	
	&recent-orders:before, &id:before {
		content: fa-content($fa-var-file-invoice);
	}
	
	&utix-notes:before {
		content: fa-content($fa-var-clipboard);
	}
	
//SALES
	&sales:before {
		content: fa-content($fa-var-shopping-cart);
	}
	
	&web:before {
		content: fa-content($fa-var-browser);
	}
	
	&pos:before {
		content: fa-content($fa-var-cash-register);
	}
	
	&quick-sale:before {
		content: fa-content($fa-var-rocket);
	}
	
	&user-new:before {
		content: fa-content($fa-var-user-plus);
	}
	
	&id:before {
		content: fa-content($fa-var-address-card);
	}
	
	&prices:before {
		content: fa-content($fa-var-usd-square);
	}
	
	&limits:before {
		content: fa-content($fa-var-octagon);
	}
	
	&delivery-methods:before, &shipping:before {
		content: fa-content($fa-var-truck);
	}
	
	&payment-methods:before {
		content: fa-content($fa-var-dollar-sign);
	}
	
	&sale-locations:before, &venue:before, &venues:before {
		content: fa-content($fa-var-university);
	}
	
	&card-reader:before {
		content: fa-content($fa-var-credit-card-front);
	}
	
	&automatic-cleanup:before {
		content: fa-content($fa-var-eraser);
	}
	
	&sale-dates:before {
		content: fa-content($fa-var-clock);
	}
	
	&internal-account-numbers:before {
		content: fa-content($fa-var-calculator);
	}
	
	&order-level-charge-accounts:before {
		content: fa-content($fa-var-cabinet-filing);
	}
	
	&email-receipt:before {
		content: fa-content($fa-var-envelope-open-dollar);
	}
	
//TICKETING
	&ticketing:before {
		content: fa-content($fa-var-inventory);
	}
	
	&categories:before {
		content: fa-content($fa-var-folders);
	}
	
	&category:before {
		content: fa-content($fa-var-folder);
	}
	
	&category-group:before, &category-groups:before {
		content: fa-content($fa-var-tree);
	}
	
	&holds:before {
		content: fa-content($fa-var-do-not-enter);
	}
	
	&events:before {
		content: fa-content($fa-var-calendar-alt);
	}
	
	&event:before {
		content: fa-content($fa-var-calendar);
	}
	
	&packages:before {
		content: fa-content($fa-var-cubes);
	}
	
	&package:before {
		content: fa-content($fa-var-cube);
	}
	
	&rollovers:before {
		content: fa-content($fa-var-recycle);
	}
	
	&deposit-plans:before {
		content: fa-content($fa-var-piggy-bank);
	}
	
	&upsell-items:before {
		content: fa-content($fa-var-link);
	}
	
	&required-upsell-item:before {
		content: fa-content($fa-var-thumbs-up);
	}
	
	&trigger-item:before {
		content: fa-content($fa-var-code-branch);
	}
	
	&ticket-options:before {
		content: fa-content($fa-var-ticket);
	}
	
	&ticket-types:before {
		content: fa-content($fa-var-ticket-alt);
	}
	
	&ticket-type-availability:before {
		content: fa-content($fa-var-search-dollar);
	}
	
	&custom-fields:before {
		content: fa-content($fa-var-tasks);
	}
	
	&waivers:before {
		content: fa-content($fa-var-signature);
	}
	
	&waitlist-request:before {
		content: fa-content($fa-var-inbox-in);
	}
	
	&waitlist-fulfilled:before {
		content: fa-content($fa-var-inbox-out);
	}
	
	&event-attributes:before {
		content: fa-content($fa-var-calendar-minus);
	}
	
//FUNDRAISING
	&fundraising:before {
		content: fa-content($fa-var-hand-holding-heart);
	}
	
	&donation-campaigns:before {
		content: fa-content($fa-var-hand-holding-heart);
	}
	
	&benefits:before {
		content: fa-content($fa-var-award);
	}
	
//MARKETING
	&marketing:before {
		content: fa-content($fa-var-bullhorn);
	}
	
	&discount-codes:before {
		content: fa-content($fa-var-badge-dollar);
	}
	
	&generate:before {
		content: fa-content($fa-var-magic);
	}
	
	&pre-sale-codes:before {
		content: fa-content($fa-var-lock-open);
	}
	
	&mailchimp:before {
		content: fa-content($fa-var-mailchimp);
	}
	
	&analytics:before {
		content: fa-content($fa-var-analytics);
	}
	
	&gift-certificates:before {
		content: fa-content($fa-var-gift-card);
	}
	
//PRINTING
	&printing:before {
		content: fa-content($fa-var-print);
	}
	
	&batch-print-orders:before {
		content: fa-content($fa-var-layer-group);
	}
	
	&e-ticket-layouts:before {
		content: fa-content($fa-var-file-pdf);
	}
	
	&e-ticket:before {
		content: fa-content($fa-var-file-pdf);
	}
	
	&e-tickets:before {
		content: fa-content($fa-var-file-pdf);
	}
	
	&thermal-printers:before {
		content: fa-content($fa-var-print);
	}
	
	&thermal:before {
		content: fa-content($fa-var-print);
	}
	
	&mobile:before {
		content: fa-content($fa-var-mobile-alt);
	}
	
//REPORTING
	&reporting:before {
		content: fa-content($fa-var-chart-line);
	}
	
	&report:before {
		content: fa-content($fa-var-chart-line);
	}
	
//USERS
	&users:before {
		content: fa-content($fa-var-users);
	}
	
	&user:before {
		content: fa-content($fa-var-user);
	}
	
	&security-groups:before {
		content: fa-content($fa-var-key);
	}
	
	&loyalty-points:before {
		content: fa-content($fa-var-tally);
	}
	
	&merge-user-profiles:before {
		content: fa-content($fa-var-compress-alt);
	}
	
	&user-type-overrides:before {
		content: fa-content($fa-var-tags);
	}
	
	&user-types:before, &user-type:before {
		content: fa-content($fa-var-user-tag);
	}
	
	&user-attributes:before {
		content: fa-content($fa-var-user-shield);
	}
	
	&user-profile-custom-fields:before {
		content: fa-content($fa-var-user-check);
	}
	
	&logged-in-users:before {
		content: fa-content($fa-var-user-circle);
	}
	
	&logged-out-users:before {
		content: fa-content($fa-var-user-secret);
	}
	
	&lock:before{
		content: fa-content($fa-var-lock);
	}
	
	&contact:before{
		content: fa-content($fa-var-id-card-alt);
	}
	
	&barcode:before{
		content: fa-content($fa-var-barcode-alt);
	}
	
	&id-external:before{
		content: fa-content($fa-var-external-link-alt);
	}
//ORDERS
	&orders:before {
		content: fa-content($fa-var-receipt);
	}
	
	&suspended-orders:before {
		content: fa-content($fa-var-pause);
	}
	
	&orders-in-progress:before {
		content: fa-content($fa-var-spinner);
	}
	
	&scan-to-return:before {
		content: fa-content($fa-var-scanner);
	}
	
	&mass-exit-scan:before {
		content: fa-content($fa-var-door-open);
	}
	
	&send-transactional-email:before {
		content: fa-content($fa-var-mail-bulk);
	}
	
	&waitlist:before {
		content: fa-content($fa-var-clipboard-list);
	}
	
	&waitlist-new:before {
		content: fa-content($fa-var-clipboard-check);
	}
	
//UTIX
	&order-delete:before {
		content: fa-content($fa-var-trash);
	}
	
	&print-server-requests:before {
		content: fa-content($fa-var-server);
	}

//SETTINGS
	&settings:before {
		content: fa-content($fa-var-cogs);
	}
		
	//Venues
		
		&hold-types:before {
			content: fa-content($fa-var-tombstone-alt);
		}
		
		&view-from-sections:before {
			content: fa-content($fa-var-eye);
		}
		
		&seating-templates:before, &copy:before {
			content: fa-content($fa-var-clone);
		}
		
		&seating-charts:before, &sections:before {
			content: fa-content($fa-var-table);
		}
		
		&event-max:before {
			content: fa-content($fa-var-calendar-plus);
		}
		
		&user-max:before {
			content: fa-content($fa-var-user-plus);
		}
		
		&ticket-min:before {
			content: fa-content($fa-var-file-minus);
		}
		
		&ticket-max:before {
			content: fa-content($fa-var-file-plus);
		}
		
		&seating-chart-colors:before {
			content: fa-content($fa-var-brush);
		}
		
		&reinit:before {
			content: fa-content($fa-var-sync);
		}
		
	//Content Management
		&homepage-alert:before {
			content: fa-content($fa-var-window-maximize);
		}
		
		&homepage-banner-image:before {
			content: fa-content($fa-var-rectangle-wide);
		}
		
		&homepage-image-rotator:before {
			content: fa-content($fa-var-images);
		}
		
		&featured-items:before {
			content: fa-content($fa-var-stars);
		}
		
		&custom-pages:before {
			content: fa-content($fa-var-copy);
		}
		
		&custom-page:before {
			content: fa-content($fa-var-file);
		}
		
		&custom-panels:before {
			content: fa-content($fa-var-rectangle-portrait);
		}
		
		&web-footer:before {
			content: fa-content($fa-var-info-square);
		}
		
		&admin-news:before {
			content: fa-content($fa-var-newspaper);
		}
		
		&dictionary:before {
			content: fa-content($fa-var-book);
		}
		
		&purchase-policy:before {
			content: fa-content($fa-var-file-invoice-dollar);
		}
}


.checkboxes li::before {
    font-family: "Font Awesome 5 Pro";
    content: fa-content($fa-var-square);
    font-weight: 300;
    margin-right: 4px;
}

.checkboxes li.checkboxes-checked::before {
    font-family: "Font Awesome 5 Pro";
    content: fa-content($fa-var-check-square);
    font-weight: 900;
    margin-right: 4px;
}

.badge-user-type:before {
    -moz-osx-font-smoothing: grayscale;
    -webkit-font-smoothing: antialiased;
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    line-height: 1;
    margin-right: 4px;
    font-weight: 100;
    font-family: 'Font Awesome 5 Pro';
	content: fa-content($fa-var-user);
}