.input-group-prepend .chosen-container{
	width: 125px !IMPORTANT;
}

.input-group-prepend .chosen-container .chosen-single{
    border-radius: 4px 0px 0px 4px;
}

.input-group .typeahead__container{
    position: relative;
    flex: 1 1 auto;
    width: 1% !important;
    margin-bottom: 0;
}


.typeahead__field input {
	background: url(../images_v2.8/header/topnav/searchicon.png) no-repeat scroll 2px 5px/21px #fff !important;
}
@media only screen and (max-width : 768px) {
    .typeahead__container{
	    display: initial !important;
	    margin-left: initial !important;
    }
    .typeahead__result{
        width: 100%;
		display: inline-flex;
    }
}

.label-user-type::before{
	font-family: "Font Awesome 5 Pro";
	font-weight: 100;
	content: "\f507";
    margin-right: 4px;
}

#ctl00_ContentPlaceHolder1_AttachCustomer_divTypeAttribute .label{
    display: inline-block;
    color: #737373;
    border: 1px solid #c4c4c4;
	background-color: transparent;
}

@media (max-width: 767px){
	.attach-cust-icon{
    display: inline-block !important;
	}
}
.action-column{
    width: 90px;
}

.ui-widget-overlay {
    background: rgb(0,0,0) !important;
}

.informationModal .form-group {
    margin: 10px 0 !important;
}

.label{display: inline-block;}

#ctl00_ContentPlaceHolder1_AttachCustomer_ddlCriteria {
	display: table-cell;
    width: 15%;
    -webkit-appearance: none;
    -moz-appearance: none;
	border-right: 0px;
}

#ctl00_ContentPlaceHolder1_AttachCustomer_txtSearchCustomer{
	width: 85%;
}

.eac-sugg {
	top: 8px !important;
	z-index: 2 !important;
	margin-left:10px;
	color: lightgray;
}

@media (max-width: 992px) {
	#ctl00_ContentPlaceHolder1_AttachCustomer_txtSearchCustomer{
		width: 80%;
	}
	
	#ctl00_ContentPlaceHolder1_AttachCustomer_ddlCriteria {
		width: 20%;
	}
    .eac-sugg {
		margin-left:10px;
	}
}

@media (max-width: 768px) {
	#ctl00_ContentPlaceHolder1_AttachCustomer_txtSearchCustomer{
		-webkit-appearance: initial;
		-moz-appearance: initial;
		width: 100%;			
	}
	
	#ctl00_ContentPlaceHolder1_AttachCustomer_ddlCriteria {
	    width: 100%;
	    border-right: 1px solid #cccccc;
		border-radius: 4px;
		margin-bottom: 8px;
	}
	
	#ctl00_ContentPlaceHolder1_AttachCustomer_divAttachCustomer .btn-default btn-light{
		margin-top: 8px;
	    border-radius: 4px;
	    width: 100%;
	}
	
	#ctl00_ContentPlaceHolder1_AttachCustomer_divAttachCustomer .input-group-btn{
	    display: table;
	    width: 100%;
	}
	
	#ctl00_ContentPlaceHolder1_AttachCustomer_divAttachCustomer .input-group{
	    width: 100%;
	}
	
    .eac-sugg {
        margin-left:0;
        top: 48px !important;
    }
}