// Base class
//
// Requires one of the contextual, color modifier classes for `color` and
// `background-color`.

.badge {
  display: inline-block;
  padding: $badge-padding-y $badge-padding-x;
  @include font-size($badge-font-size);
  font-weight: $badge-font-weight;
  line-height: 1;
  text-align: center;
  white-space: nowrap;
  vertical-align: baseline;
  @include border-radius($badge-border-radius);
  @include transition($badge-transition);
  border: 1px solid transparent;

  @at-root a#{&} {
    @include hover-focus {
      text-decoration: none;
    }
  }

  // Empty badges collapse automatically
  &:empty {
    display: none;
  }
}

// Quick fix for badges in buttons
.btn .badge {
  position: relative;
  top: -1px;
}

// Pill badges
//
// Make them extra rounded with a modifier to replace v3's badges.

.badge-pill {
  padding-right: $badge-pill-padding-x;
  padding-left: $badge-pill-padding-x;
  @include border-radius($badge-pill-border-radius);
}

// Colors
//
// Contextual variations (linked badges get darker on :hover).

@each $color, $value in $theme-colors {
  .badge-#{$color} {
    @include badge-variant($value);
  }
}

.badge-light{
	background-color: $gray-350;
	color: $gray-900;
}

.profile-tags .badge{
	        margin-right: 4px;
	    }
	    
	    .profile-tags .badge:last-of-type{
	        margin-right: 0px;
	    }
        
        .profile-tags .badge{
		    display: inline-block;
		    color: #737373;
		    border: 1px solid #c4c4c4;
			background-color: transparent;
			margin-top: 4px;
		    cursor: default;
		}
		
		.label-user-type-override::before{
			font-family: "Font Awesome 5 Pro";
			font-weight: 100;
			content: "\f4ff";
		    margin-right: 4px;
		}
		
		.label-admin::before{
			font-family: "Font Awesome 5 Pro";
			font-weight: 100;
			content: "\f084";
		    margin-right: 4px;
		}
		
		.label-benefit::before{
			font-family: "Font Awesome 5 Pro";
			font-weight: 100;
			content: "\f559";
		    margin-right: 4px;
		}
		
		.label-rollover::before{
			font-family: "Font Awesome 5 Pro";
			font-weight: 100;
			content: "\f1b8";
		    margin-right: 4px;
		}
		
		.label-attribute::before{
			font-family: "Font Awesome 5 Pro";
			font-weight: 100;
			content: "\f234";
		    margin-right: 4px;
		}
/*
			
		.label-created::before{
			font-family: "Font Awesome 5 Pro";
			font-weight: 100;
			content: "\f0fe";
		    margin-right: 4px;
		}
		
		.label-login::before{
			font-family: "Font Awesome 5 Pro";
			font-weight: 100;
			content: "\f2f6";
		    margin-right: 4px;
		}
		
		.label-modified::before{
			font-family: "Font Awesome 5 Pro";
			font-weight: 100;
			content: "\f044";
		    margin-right: 4px;
		}
		
		.label-scan::before{
			font-family: "Font Awesome 5 Pro";
			font-weight: 100;
			content: "\f488";
		    margin-right: 4px;
		}
*/

.divCustomerInformation .badge-light{
	color: #6E6A73;
}