.cal .ajax__calendar_container {padding:10px 20px 10px 10px;position:absolute;border:1px solid #646464;background-color:White;}
.cal .ajax__calendar_body table tr td {padding: 0px;background-color: #ffffff;}
.cal .ajax__calendar_active {color: blue; font-weight: bold;  font-size:13px;  }
.cal .ajax__calendar_today { font-weight:bold; }


.cal .ajax__calendar_container {padding:10px;position:absolute;border:1px solid #646464;background-color:White;width: 200px;}
.cal .ajax__calendar_body {padding: 0px;background-color: #ffffff;width: 178px;}
.cal .ajax__calendar_active {color: #0d3662; font-weight: bold;  font-size:13px;  } 

.ajax__calendar_dayname{
	font-weight: bold;
	padding: 0px;
	text-align: center;
	font-size: 13px !important;
}

.ajax__calendar_dayname{
	font-size: 12px !important;
	margin-bottom: 4px;
}

.ajax__calendar_day, .ajax__calendar_dayname{
	width: 24px !important;
}

.ajax__calendar_header{
	margin-bottom: 8px;
	border-bottom: 1px solid gray;
}

.ajax__calendar_container{
	font-size: 13px !important;
}

.ajax__calendar_header{
	margin-bottom: 8px;
	border-bottom: 1px solid gray;
}

.ajax__calendar_container{
	font-size: 13px !important;
}