.search{
    padding: .5rem;
    background: $gray-500;	
}
@media (min-width: 768px){
	.search-with-dropdown{
		.chosen-single{
			border-radius: 4px 0px 0px 4px !important;
			border-right: transparent !important;
		}
		
		.chosen-container.chosen-container-single.chosen-container-active.chosen-with-drop .chosen-single{
			border-radius: 4px 0px 0px 0px !important;
		}
		
		.typeahead__container input{

			border-radius: 0px 4px 4px 0px;
			
		}
	}
}

.typeahead__container input, .search .chosen-single{
	height: $input-height-sm !important;
	padding: $input-padding-y-sm $input-padding-x-sm !important;
	@include font-size($input-font-size-sm);
	line-height: $input-line-height-sm !important;
	@include border-radius($input-border-radius-sm);
	min-height: initial !important;
}

.typeahead__container .typeahead__query::after {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 500;
    content: "\f002";
    color: $gray-800;
    position: absolute;
    left: 1rem;
    line-height: 2rem;
    top: 0;
    left: 8px;
    font-size: .8rem;
}

.typeahead__cancel-button, .typeahead__cancel-button:hover, .typeahead__cancel-button:active, .typeahead__cancel-button:focus{
	color: transparent !important;
}

.typeahead__cancel-button:before {
    display: inline-block;
    font-style: normal;
    font-variant: normal;
    text-rendering: auto;
    -webkit-font-smoothing: antialiased;
    font-family: "Font Awesome 5 Pro";
    font-weight: 900;
    content: "\f057";
    color: $gray-500;
    position: absolute;
    left: 1rem;
    line-height: 2rem;
    top: 0px;
    left: 12px;
}

.typeahead__cancel-button:hover:before {
	color: $blue;	
}

.typeahead__container input{
	padding-left: 24px !important;
	
	&::placeholder{
		color: $input-placeholder-color !important
	}
}

.search .chosen-single{
    
    div b{
	    @include font-size($input-font-size-sm);
		line-height: 1.8rem;
    }

}


.search-field{

	&-sm{
	    height: calc(1.5em + .5rem + 2px);
	    padding: .25rem .5rem;
	    font-size: .7875rem;
	    line-height: 1.5;
	    border-radius: .2rem;
        min-height: initial;
	}	
}

.typeahead__display strong {
//     font-weight: normal;
    text-decoration: underline;
    color: #222;
    text-decoration-color: hsla(hue($green),saturation($green),lightness($green),0.8);
}

.typeahead__item.active .typeahead__display {
	color: $gray-100;
    
    strong{
	    //opacity: .4;
	    color: $white;
	    text-decoration-color: white;
    }
}

.typeahead__cancel-button{
	top: 0px !important;
}