.chosen-container{
    font-size: .85rem;
    
    .chosen-search-input:focus{
	    border: 1px solid $input-focus-border-color !important;
    }
    
    .chosen-results li.highlighted{
		background: {
			image: none;
			color: $purple;
		}
    }
    
    .chosen-results li{
        padding: .5rem;
        
        &.no-results{
	        color: $gray-900;
	        background-color: lighten($yellow, 40%); //$gray-300;
        }
    }
}
.chosen-container-multi .chosen-choices li.search-field input[type="text"]{
    margin: 2px 0;
}

.chosen-container {
	width: 100% !important;
	
	// MULTI-SELECT
	.chosen-choices{
		border-radius: .25rem;

	}
	
	.search-choice{
	    margin: 4px 5px 4px 0 !important;
	    background: transparent !important;
	    background-image: none !important;
	}
	
	.chosen-all{
		background-image: none !important;
		background: $gray-800 !important;
		background-image: none !important;
	    background: $gray-300 !important;
	    border-color: $gray-700 !important;
	    box-shadow: none !important;
	    color: $gray-900 !important;
	    
	    span::before{
	        
	        font-family: "Font Awesome 5 Pro";
	        font-weight: 100;
	        content: "\f00c";
	        margin-right: 2px;
	    }
	}
	
	.search-choice-close:before{
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: "Font Awesome 5 Pro";
		font-weight: 900;
		content: "\f00d";
	    font-size: .85rem;
	    color: $gray-600;
	}
	
	.search-choice-close:hover:before{
		color: $purple;
	}
	
	
	.default::before { // Default selection flag
	    content: "Default";
	    float: right;
	    background: transparent;
	    padding: 00.25rem;
	    color: $gray-800; // $white;
	    border: 1px solid $gray-600;
	    border-radius: .25rem;
	    margin-top: -0.25rem;
        letter-spacing: .05rem;
	    font-weight: 300;
	}
	
	.default.highlighted::before{
		color: $white;
		border-color: white;
	}

	.chosen-search{
	    padding: .5rem;
	    
	    input[type="text"]{
	        border-radius: 3px;
			height: 1.8rem;
		    padding: .25rem 1.5rem .25rem 1.7rem;
	        box-shadow: 0 1px 3px rgba(0, 0, 0, 0.1) inset;
	    }
	    
	    &:after{
	        display: inline-block;
		    font-style: normal;
		    font-variant: normal;
		    text-rendering: auto;
		    -webkit-font-smoothing: antialiased;
		    font-family: "Font Awesome 5 Pro";
		    font-weight: 500;
		    content: "\f002";
		    color: $gray-800;
		    position: absolute;
		    left: 1rem;
		    line-height: 2rem;
	    }
	}
	
	.chosen-single {
	    padding: .3rem .5rem;
	    height: 2.25rem;
	    border: 1px solid $gray-400 !important;
	    background: $white !important;
	    color: $gray-850;
        box-shadow: none;
        
        span{
	        text-decoration: none !important;
        }
	    
	    div b{
        line-height: 2rem;
		font-size: 1rem;

		    &::before { // Add opposite triangle icon to right of field
			  display: inline-block;
			  font-style: normal;
			  font-variant: normal;
			  text-rendering: auto;
			  -webkit-font-smoothing: antialiased;
			  font-family: "Font Awesome 5 Pro";
			  font-weight: 900;
			  content: "\f0dc";
			  color: $gray-800;
			}
		}
	}
	
/*
	.chosen-all{
		background-color: $gray-300 !important;
	}
*/
	
	.result-selected::after{ // Add checkmark to right of selected option			
	  display: inline-block;
	  font-style: normal;
	  font-variant: normal;
	  text-rendering: auto;
	  -webkit-font-smoothing: antialiased;
	  font-family: "Font Awesome 5 Pro";
	  font-weight: normal;
      content: "\f00c";
	  margin-left: .5rem;
	  opacity: .8;
	  font-size: .1rem;
	}
}

.chosen-disabled {
	.chosen-single{
		background: $gray-200 !important;
		
		div b::before{
			opacity: .5;
		}
	}
}

.chosen-container-active.chosen-with-drop .chosen-single{
    color: $gray-600 !important;
}

.chosen-container-active .chosen-single{
	box-shadow: $btn-focus-box-shadow;
}