.checkbox{
    padding-left: 0px;
    border: 1px solid $gray-400;
    border-radius: 4px;
    padding: .5rem;
//     background: hsla(0, 0%, 98%, 1);
    margin-bottom: .5rem;
    cursor: pointer;
    line-height: 1.1rem;
    font-weight: normal;
        
    &:hover{
	    background-color:  $gray-300;
	}
}

label.checkbox:after, 
.radio label:after {
    content: '';
    display: table;
    clear: both;
}

.checkbox .cr,
.radio .cr {
    position: relative;
    display: inline-block;
    border: 1px solid $gray-500;
    border-radius: .25em;
    width: 1.4em;
    height: 1.4em;
    float: left;
    margin-right: .5em;
    background-color: $white;
}

.radio .cr {
    border-radius: 50%;
}

.checkbox .cr .cr-icon,
.radio .cr .cr-icon {
    position: absolute;
    font-size: .8em;
    line-height: 0;
    top: 50%;
    left: 20%;
}

.radio .cr .cr-icon {
    margin-left: 0.04em;
}

label.checkbox input[type="checkbox"],
.radio label input[type="radio"] {
    display: none;
}

label.checkbox input[type="checkbox"] + .cr > .cr-icon,
.radio label input[type="radio"] + .cr > .cr-icon {
    transform: scale(3) rotateZ(-20deg);
    opacity: 0;
    transition: all .3s ease-in;
}

label.checkbox input[type="checkbox"]:checked + .cr > .cr-icon,
.radio label input[type="radio"]:checked + .cr > .cr-icon {
    transform: scale(1) rotateZ(0deg);
    opacity: 1;
}

label.checkbox input[type="checkbox"]:checked + .cr,
.radio label input[type="radio"]:checked + .cr{
    color: $white;
    background-color: $blue;
    border-color: $blue;
}

.border-light label.checkbox input[type="checkbox"]:checked + .cr,
.radio label input[type="radio"]:checked + .cr{
    color: $gray-900;
    background-color: $gray-400;
    border-color: $gray-900;
}

label.checkbo input[type="checkbox"]:disabled + .cr,
.radio label input[type="radio"]:disabled + .cr {
    opacity: .5;
}

.checkbox-list{
	margin-top: 1rem;
    
    .checkbox:last-of-type{
	    margin-bottom: 0px;
    }
}

.checkbox-list-compact{
//     margin-top: -.8rem;
    
    .checkbox{
	    margin-bottom: .5rem;
	    padding: 6px 6px 5px 6px;
    }
    
    .checkbox:last-of-type{
	    margin-bottom: 0px;
    }
    
    .checkbox .cr, .radio .cr{
        width: 1.3em;
		height: 1.3em;
    }
}