.help{
	padding: 1rem;
	
	background-color: $gray-100;
	color: $gray-900;
	
	border: 1px solid;
    border-color: $gray-800;
    border-radius: 4px;
    
    margin-bottom: 1rem;
	
		&.show{
			display: block !important;
		}
		
		&.collapsing{
			display: block !important;
			transition: height .5s cubic-bezier(0, 0.74, 0.4, 1.04);
		}
		
		p:last-of-type{
			margin-bottom: 0px;
		}
	
		label{
			margin-bottom: 0.5rem;
		}
		
		label:before{ // Icon to left of "Help"
			content: "\f2fd";
			font-weight: 900;
			font-family: 'Font Awesome 5 Pro';
			margin-right: 4px;
		}
		label:after{ // Secondary text which provides instructions to user for how to dismiss the help content.
			content: "Click \f059  again to dismiss.";
			color: $gray-600 !important;
			font-family: Helvetica, 'Font Awesome 5 Pro';
		    font-weight: 300 !important;
		    float: right;
		}
}