// Old Loader from Sunil that Leo tried to implement himself
.updateProgress { 
	position: absolute; 
/*
	color:Black; 
	padding: 0px; 
	margin: 0px; 
*/

	#progress_Animation{
		color: $primary;
	}
	
	.progress-content {
			background-color: hsla(hue($white), saturation($white), lightness($white), 0.85); 
/*
			color:#656565; 
			padding:290px 0; 
*/
			position: fixed; 
			top: 0; 
			left:0; 
			width: 100%; 
			height: 100%; 
			display: flex;
// 			text-align: center; 
/*
			font-size: 30px; 
			font-weight: bold; 
*/
		}
}


// Anwaar's loader
#loader {
    position: fixed;
    width: 100%;
    height: 100%;
    z-index: 1080;
    background-color: $progress-animation-background; 
    top: 0;
    
    #progress_Animation{
	    color: $progress-animation;
    }
    
    .progress-content {
		position: fixed; 
		top: 0; 
		left:0; 
		width: 100%; 
		height: 100%; 
		display: flex;

		}
		
}