kbd, kbd2{
    -moz-box-sizing: border-box;
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    box-sizing: border-box;
    background-color: #f7f7f7;
    border: 1px solid #ccc !important;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px;
    -moz-box-shadow: 0 1px 0 rgba(0,0,0,0.2),0 0 0 2px #fff inset;
    -webkit-box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
    box-shadow: 0 1px 0 rgba(0,0,0,0.2), 0 0 0 2px #fff inset;
    color: #333;
    display: inline-block;
    font-family: inherit;
    font-size: 13px !important;
    line-height: 20px !important;
    margin: 0 0.1em !important;
    min-width: 2em;
    padding: 0.1em 0.6em !important;
    text-align: center;
    text-shadow: 0 1px 0 #fff;
    vertical-align: bottom !important;
    margin-bottom: 4px !important;
    margin-top: 4px !important;
}

kbdt{
	vertical-align: top;
    margin-top: 8px;
    display: inline-block;
    margin-left: 4px;
}

kbd2{
	margin-left:4px !important;
}

#keyboardShortcutModal{
	
	.container-fluid{
		padding-top: 15px;
	}
    
}