@media (min-width: 768px){
	#aspnetForm{
		margin-top: 104px;
	}
}

@media (max-width: 768px){
	#aspnetForm{
		margin-top: 104px;
	}
}

@include media-breakpoint-only(sm) {
	#aspnetForm{
		margin-top: 98px;
	}
}

/*
#aspnetForm{
	height:100%;
}
*/

/* Footer Position: Stick to bottom
-------------------------------------------------- */
html {
  position: relative;
  min-height: 100%;
}

body {
  margin-bottom: 116px; /* Margin bottom by footer height */
}

footer {
  position: absolute;
  bottom: 0;
  width: 100%;
  z-index: -100;
// height: 60px; /* Set the fixed height of the footer here */
// line-height: 60px; /* Vertically center the text there */

}

//== Footer Styles
footer{
	background-color: $gray-350;
    padding: 16px;
    font-size: .8rem;
  
    p {
	    margin-bottom: 0px;
	    color: #000;
    }
    
/*
    a {
	  color: #0b68cb !important;
	}
*/
	
	#ctl00_viewportDeskOrMobile{
		color: inherit !important;
	}
	
}


/* Shows the desktop view link on mobile only */
@media (pointer:none), (pointer:coarse) {
	.visible-mobile-only{
		display: block;
	}
}

@media (pointer:fine) {
	.visible-mobile-only{
		display: none;
	}
}