.modal-content{
	&.modal-success{
		border: 2px solid $success;
		
		.modal-title{
		    font-size: 1.575rem;
		}
		.modal-header .close{
		    padding: 1.5rem;
		}
		
		.modal-body:before{
			content: $icon-success;
			color: $success;
		}
	}
	
	&.modal-info{
		border: 2px solid $info;
		
		.modal-title{
		    font-size: 1.575rem;
		}
		.modal-header .close{
		    padding: 1.5rem;
		}
		
		.modal-body:before{
			content: $icon-info;
			color: $info;
		}
	}
	
	&.modal-warning{
		border: 2px solid $warning;
		
		.modal-title{
		    font-size: 1.575rem;
		}
		.modal-header .close{
		    padding: 1.5rem;
		}
		
		.modal-body:before{
			content: $icon-warning;
			color: $warning;
		}
	}
	
	&.modal-danger{
		border: 2px solid $danger;
		
		.modal-title{
		    font-size: 1.575rem;
		}
		.modal-header .close{
		    padding: 1.5rem;
		}
		
		.modal-body:before{
			content: $icon-danger;
			color: $danger;
		}
	}
	
	&.modal-delete{
		
		.modal-body:before{
			content: "\f2ed";
		}
	}
	
	&.modal-archive{
		border: 2px solid $gray-700;
		
		.modal-title{
		    font-size: 1.575rem;
		}
		.modal-header .close{
		    padding: 1.5rem;
		}
		
		.modal-body:before{
			content: '\f187';
		}
	}
	
	.modal-body:before{
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		font-family: "Font Awesome 5 Pro";
		font-weight: 300;
	    font-size: 4.5rem;
		line-height: 4.5rem;
		margin-bottom: .75rem;
		opacity: .7;
	}
}