// Contents
//
// Navbar
// Navbar brand
// Navbar nav
// Navbar text
// Navbar divider
// Responsive navbar
// Navbar position
// Navbar themes

// Logo
.admin-logo{fill:$white;width:150px;height: 50px;margin-top: 2px;}

// Navbar
//
// Provide a static navbar from which we expand to create full-width, fixed, and
// other navbar variations.


// Navbar and Layout TODO
#lnk_menu_8{
	display: none !important;
}

@media (min-width: 576px){
	#lnk_menu_8 {
	    display: block !important;
	}
}

@media (max-width: 576px){
	#lnk_menu_9{
	    padding: 19px 14px !important;
	}
	
/*
	.admin-menu, .admin-menu>.navbar-defaut, .admin-menu>.navbar>.container-fluid, #bs-example-navbar-collapse-1{
		height: 100%;
	}
*/
	
	.navbar-right .dropdown>.dropdown-menu{
	    left: 0;
		right: auto;
	}
	
	#user-menu .dropdown-menu{
		left: auto;
		right: 0;
	}
}

.client-web-paragraph a{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

#lnk_LoginUser{
	overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.navbar .fa-user{
	padding: 3px;
}

#dashboard_xs, #search_xs, #main_menu_toggle{
	padding: 0.6rem .8rem !important;
}

#dashboard_xs{
	float: right;
	margin-right: 8px;
}

/*
#main_menu_toggle{
	float: left;
}
*/

#web_button_xs{
	padding: 0.4rem .6rem !important;
}

@media (max-width: 575px){
	.navbar-light .navbar-header{
		width: 100%;
	    padding: 8px 0px 8px 8px;
		
		.navbar-toggle{
			float: right;
		}
	}
	
	.navbar-expand.d-flex, .navbar-form{
		width: 100%;
	}
	
	.navbar-dark .dropdown:hover>.dropdown-menu, .navbar-dark .dropdown:active>.dropdown-menu, .navbar-dark .dropdown:focus>.dropdown-menu{
		position: absolute;
	}
	
	#ctl00_divFooter{
		text-align: left !important;
	}
}
@media (min-width: 576px) and (max-width: 767px){
	#lnk_menu_9{
	    padding: 1.19rem 1rem !important;
	}
}

@media (max-width: 767px){
	.navbar-dark .dropdown-toggle::after {
	    display: none !important;
	}
}

@media (max-width: 991px){	
	.navbar-brand{
		margin-left: 4px;
	}
}

@include media-breakpoint-up(xs) {
	.client-web-paragraph a{
	    max-width: 300px;
	}
	
	#lnk_LoginUser{
	    max-width: 200px;
	}
	
	.navbar-light .navbar-nav .nav-link {
	    border-bottom: 0px solid transparent;
	    border-top: 0px solid transparent;
	}
	
	.navbar-expand-sm .navbar-nav .nav-link {
	    padding: .95rem 0.8rem !important;
	}	
}
@include media-breakpoint-up(sm) {
	.client-web-paragraph a{
	    max-width: 300px;
	}
	
	#lnk_LoginUser{
	    max-width: 200px;
	}
	
/*
	#lnk_dashboard{
		margin-top: 5px;
	}
*/
	
	#sp_Menu_9{
		display: none;
	}
}

@include media-breakpoint-up(md) {
	
	.client-web-paragraph a{
	    max-width: 300px;
	}
	
	#lnk_LoginUser{
	    max-width: 200px;
	}
	
	#sp_Menu_9{
		display: none;
	}
}
@include media-breakpoint-up(lg) {
	.navbar-light .navbar-nav .nav-link {
	    border-bottom: 2px solid transparent;
	    border-top: 2px solid transparent;
	}
	
	#lnk_dashboard{
		margin-top: initial;
	}
	
	.client-web-paragraph a{
	    max-width: 295px;
	}
	
	#lnk_LoginUser{
	    max-width: 150px;
	}
	
	#sp_Menu_9{
		display: none;
	}
}
@include media-breakpoint-up(xl) {
	
	.client-web-paragraph a{
	    max-width: 300px;
	}
	
	#lnk_LoginUser{
	    max-width: 200px;
	}
	
	#sp_Menu_9{
		display: inline-block;
	}
}

.admin-menu {
    position: fixed;
    width: 100%;
    top: 0px;
    z-index: 1030;
}

.navbar-light .nav-item:hover .nav-link {
    color: $purple; // #0b68cb; // $blue; TODO adjusted manually to meet contrast ratio requirement
    background-color: $gray-350;
}

a.dropdown-toggle {
    cursor: default;
}

.navbar-form{
	margin: 8px;
}

.navbar-light .navbar-nav{
	padding-left: 8px;
}

#lnk_dashboard{
	
	@include hover-focus {
		background-color: transparent !important;	
		border-bottom: 2px solid $purple; //$blue;
		color: $purple !important; // $blue !important;
	}
}

@media (min-width: 992px) {
	.navbar-light .navbar-nav .nav-link {
	    padding: 0.8rem 0.8rem !important;
	}
}

// END CUSTOMISATIONS

.navbar {
  position: relative;
  display: flex;
  flex-wrap: wrap; // allow us to do the line break for collapsing content
  align-items: center;
  justify-content: space-between; // space out brand from logo
  // padding: $navbar-padding-y $navbar-padding-x;

  // Because flex properties aren't inherited, we need to redeclare these first
  // few properties so that content nested within behave properly.
  > .container,
  > .container-fluid {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
  }
}


// Navbar brand
//
// Used for brand, project, or site names.

.navbar-brand {
  display: inline-block;
  padding-top: $navbar-brand-padding-y;
  padding-bottom: $navbar-brand-padding-y;
  margin-right: $navbar-padding-x;
  @include font-size($navbar-brand-font-size);
  line-height: inherit;
  white-space: nowrap;

  @include hover-focus {
    text-decoration: none;
  }
}


// Navbar nav
//
// Custom navbar navigation (doesn't require `.nav`, but does make use of `.`).

.navbar-nav {
  display: flex;
  flex-direction: column; // cannot use `inherit` to get the `.navbar`s value
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;

  .nav-link {
    padding-right: 0;
    padding-left: 0;
  }

  .dropdown-menu {
    position: static;
    float: none;
  }
}


// Navbar text
//
//

.navbar-text {
  display: inline-block;
  padding-top: $nav-link-padding-y;
  padding-bottom: $nav-link-padding-y;
}


// Responsive navbar
//
// Custom styles for responsive collapsing and toggling of navbar contents.
// Powered by the collapse Bootstrap JavaScript plugin.

// When collapsed, prevent the toggleable navbar contents from appearing in
// the default flexbox row orientation. Requires the use of `flex-wrap: wrap`
// on the `.navbar` parent.
.navbar-collapse {
  flex-basis: 100%;
  flex-grow: 1;
  // For always expanded or extra full navbars, ensure content aligns itself
  // properly vertically. Can be easily overridden with flex utilities.
  align-items: center;
}

// Button for toggling the navbar when in its collapsed state
.navbar-toggler {
  padding: $navbar-toggler-padding-y $navbar-toggler-padding-x;
  @include font-size($navbar-toggler-font-size);
  line-height: 1;
  background-color: transparent; // remove default button style
  border: $border-width solid transparent; // remove default button style
  @include border-radius($navbar-toggler-border-radius);

  @include hover-focus {
    text-decoration: none;
  }
}

// Keep as a separate element so folks can easily override it with another icon
// or image file as needed.
.navbar-toggler-icon {
  display: inline-block;
  width: 1.5em;
  height: 1.5em;
  vertical-align: middle;
  content: "";
  background: no-repeat center center;
  background-size: 100% 100%;
}

// Generate series of `.navbar-expand-*` responsive classes for configuring
// where your navbar collapses.
.navbar-expand {
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        > .container,
        > .container-fluid {
          padding-right: 0;
          padding-left: 0;
        }
      }

      @include media-breakpoint-up($next) {
        flex-flow: row nowrap;
        justify-content: flex-start;

        .navbar-nav {
          flex-direction: row;

          .dropdown-menu {
            position: absolute;
          }

          .nav-link {
            //padding-right: $navbar-nav-link-padding-x;
            //padding-left: $navbar-nav-link-padding-x;
            padding: 1rem 0.8rem;
          }
        }

        // For nesting containers, have to redeclare for alignment purposes
        > .container,
        > .container-fluid {
          flex-wrap: nowrap;
        }

        .navbar-collapse {
          display: flex !important; // stylelint-disable-line declaration-no-important

          // Changes flex-bases to auto because of an IE10 bug
          flex-basis: auto;
        }

        .navbar-toggler {
          display: none;
        }
      }
    }
  }
}


// Navbar themes
//
// Styles for switching between navbars with light or dark background.

// Dark links against a light background
.navbar-light {
  border-bottom: 1px solid $gray-400;
  
  .navbar-brand {
    color: $navbar-light-brand-color;

    @include hover-focus {
      color: $navbar-light-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-light-color;

      @include hover-focus {
        color: $purple; // $navbar-light-hover-color; TODO adjusted manually to meet contrast ratio requirement
        background-color: $gray-350;
      }

      &.disabled {
        color: $navbar-light-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-light-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-light-color;
    border-color: $navbar-light-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-light-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-light-color;
    a {
      color: $navbar-light-active-color;

      @include hover-focus {
        color: $navbar-light-active-color;
      }
    }
  }
}

// White links against a dark background
.navbar-dark {
  padding: 0px;
  
  .container-fluid{ // TODO - patch to consider removing
	  padding-right: 0px;
  }
  
  .nav-item:hover .nav-link{
	color: $white; // $navbar-dark-hover-color;
	background-color: darken($primary, 25%);
  }
  
  .navbar-brand {
    color: $navbar-dark-brand-color;

    @include hover-focus {
      color: $navbar-dark-brand-hover-color;
    }
  }

  .navbar-nav {
    .nav-link {
      color: $navbar-dark-color;

      @include hover-focus {
        color: $white; // $navbar-dark-hover-color;
		background-color: darken($primary, 25%);
      }

      &.disabled {
        color: $navbar-dark-disabled-color;
      }
    }

    .show > .nav-link,
    .active > .nav-link,
    .nav-link.show,
    .nav-link.active {
      color: $navbar-dark-active-color;
    }
  }

  .navbar-toggler {
    color: $navbar-dark-color;
    border-color: $navbar-dark-toggler-border-color;
  }

  .navbar-toggler-icon {
    background-image: $navbar-dark-toggler-icon-bg;
  }

  .navbar-text {
    color: $navbar-dark-color;
    a {
      color: $navbar-dark-active-color;

      @include hover-focus {
        color: $navbar-dark-active-color;
      }
    }
  }
}


.li-quick-sale{
    margin: 3px 3px;
}

@include media-breakpoint-only(md) {
	a#lnk_dashboard i {
	    padding-top: 5px;
	}
}

@include media-breakpoint-only(sm) {
	#lnk_dashboard {
        padding-top: 16px !important;
	    padding-bottom: 12px !important;
	}
}