// Base class
//
// Kickstart any navigation component with a set of style resets. Works with
// `<nav>`s or `<ul>`s.

.nav {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin-bottom: 0;
  list-style: none;
}

.nav-link {
  display: block;
  padding: $nav-link-padding-y $nav-link-padding-x;

  @include hover-focus {
    text-decoration: none;
  }

  // Disabled state lightens text
  &.disabled {
    color: $nav-link-disabled-color;
    pointer-events: none;
    cursor: default;
  }
}

//
// Tabs
//

.nav-tabs {
  //border-bottom: $nav-tabs-border-width solid $nav-tabs-border-color;

  .nav-item {
    margin-bottom: -$nav-tabs-border-width;
  }

  .nav-link {
    border: $nav-tabs-border-width solid $gray-500;
    color: $black;
    background-color: $gray-500;
    margin-right: 2px;
    @include border-top-radius($nav-tabs-border-radius);

    @include hover-focus {
      //border-color: $nav-tabs-link-hover-border-color;

	  background-color: $gray-600;
	  border-color: $gray-700;
    }

    &.disabled {
      color: $nav-link-disabled-color;
      background-color: transparent;
      border-color: transparent;
    }
  }

  .nav-link.active,
  .nav-item.show .nav-link {
    color: $white; //$nav-tabs-link-active-color;
    background-color: $gray-800; //$nav-tabs-link-active-bg;
    border-color: $gray-800; //$nav-tabs-link-active-border-color;
  }

  .dropdown-menu {
    // Make dropdown border overlap tab border
    margin-top: -$nav-tabs-border-width;
    // Remove the top rounded corners here since there is a hard edge above the menu
    @include border-top-radius(0);
  }
}

.card-header-tabs .nav-link{
	margin-right: 0.5rem;
	border-bottom: transparent;
	margin-bottom: 1px;
	
	&.active{
		background-color: $white;
		color: $black;
		pointer-events: none;
		border-color: $white;
	}
	
	&:hover{
		border-color: $gray-200 $gray-200 $gray-200;
		background-color: $gray-300;
		color: $black;
	}
}


//
// Pills
//

.nav-pills {
  .nav-link {
    @include border-radius($nav-pills-border-radius);
    margin-right: 4px;
    margin-left: 4px;
    background-color: $gray-325;
  }
  
  .nav-link:hover{
	  background-color: $primary;
	  color: $white;
  }

  .nav-link.active,
  .show > .nav-link {
    color: $nav-pills-link-active-color;
    background-color: $nav-pills-link-active-bg;
  }
  
    .nav-item:last-of-type .nav-link {
	    margin-right: 0px;
	}
	
	.nav-item:first-of-type .nav-link {
	    margin-left: 0px;
	}
	
}


//
// Justified variants
//

.nav-fill {
  .nav-item {
    flex: 1 1 auto;
    text-align: center;
  }
}

.nav-justified {
  .nav-item {
    flex-basis: 0;
    flex-grow: 1;
    text-align: center;
  }
}


// Tabbable tabs
//
// Hide tabbable panes to start, show them when `.active`

.tab-content {
  > .tab-pane {
    display: none;
  }
  > .active {
    display: block;
  }
}

// Site Name Truncation
#lnk_siteName .d-lg-inline-block{
	text-overflow: ellipsis;
    white-space: nowrap;
    overflow: hidden;
    max-width: 300px;
    padding-right: 24px;
}