#ctl00_ContentPlaceHolder1_AddPanelTypeDDL_child{height: initial !important; z-index: 700 !important;}

.dd.borderRadius .ddArrow:before{
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	content: "\f078";
}

.dd.borderRadiusTp .ddArrow:before{
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	content: "\f077";
}