.lnk-do-not-show-again {
    font-size: .7rem;
    text-align: center;
    display: block;
    margin-top: 8px;
    cursor: pointer;
    color: #0c6ed9;
}

.btn-dismiss-popover {
    padding: 0 8px;
}


.popover {
    min-width: 150px;
}

.popover-header {
	margin: -1px;
}

.popover-content{
	color: $black;
}

.popover-header:before{
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Pro";
	font-weight: 900;
	margin-right: .25rem;
    text-align: center;
    width: 1.25em;
    
    position: initial !important;
    float: left !important;
    margin-left: 0px !important;
	border-bottom: 0px !important;
}

.popover .not-show-again {
    padding: 4px;
    font-size: 12px;
    margin-top: 8px;
}

.popover-warning{
	border: 1px solid $warning;
	
	.arrow{
	    border-bottom-color: $warning !important;
	}
	
	&[x-placement^="right"] .arrow:before{
	    border-right-color: $warning !important;
	}
	
	&[x-placement^="left"] .arrow:before{
	    border-left-color: $warning !important;
	}
	
	&[x-placement^="top"] .arrow:before{
	    border-top-color: $warning !important;
	}
	
	&[x-placement^="bottom"] .arrow:before{
	    border-bottom-color: $warning !important;
	}
	
	&[x-placement^="bottom"] .arrow:after{
	    border-bottom-color: $warning !important;
	}
	
	.popover-header{
		color: $black !important;
		background-color: $warning;
	}
	.popover-header:before{
		content: $icon-warning;
	}
}

.popover-info{
	border: 1px solid $info;
	
	.arrow{
	    border-bottom-color: $info !important;
	}
	
	&[x-placement^="right"] .arrow:before{
	    border-right-color: $info !important;
	}
	
	&[x-placement^="left"] .arrow:before{
	    border-left-color: $info !important;
	}
	
	&[x-placement^="top"] .arrow:before{
	    border-top-color: $info !important;
	}
	
	&[x-placement^="bottom"] .arrow:before{
	    border-bottom-color: $info !important;
	}
	
	&[x-placement^="bottom"] .arrow:after{
	    border-bottom-color: $info !important;
	}
	
	.popover-header{
		color: $black !important;
		background-color: $info;
	}
	.popover-header:before{
		content: $icon-info;
	}
}

.popover-success{
	border: 1px solid $success;
	
	.arrow{
	    border-bottom-color: $success !important;
	}
	
	&[x-placement^="right"] .arrow:before{
	    border-right-color: $success !important;
	}
	
	&[x-placement^="left"] .arrow:before{
	    border-left-color: $success !important;
	}
	
	&[x-placement^="top"] .arrow:before{
	    border-top-color: $success !important;
	}
	
	&[x-placement^="bottom"] .arrow:before{
	    border-bottom-color: $success !important;
	}
	
	&[x-placement^="bottom"] .arrow:after{
	    border-bottom-color: $success !important;
	}
	
	.popover-header{
		color: $white !important;
		background-color: $success;
	}
	.popover-header:before{
		content: $icon-success;
	}
}

.popover-danger{
	border: 1px solid $danger;
	
	.arrow{
	    border-bottom-color: $danger !important;
	}
	
	&[x-placement^="right"] .arrow:before{
	    border-right-color: $danger !important;
	}
	
	&[x-placement^="left"] .arrow:before{
	    border-left-color: $danger !important;
	}
	
	&[x-placement^="top"] .arrow:before{
	    border-top-color: $danger !important;
	}
	
	&[x-placement^="bottom"] .arrow:before{
	    border-bottom-color: $danger !important;
	}
	
	&[x-placement^="bottom"] .arrow:after{
	    border-bottom-color: $danger !important;
	}
	
	.popover-header{
		color: $white !important;
		background-color: $danger;
	}
	.popover-header:before{
		content: $icon-danger;
	}
}