.report-header:before {
    font-family: "Font Awesome 5 Pro";
    content: "\f201";
    margin-right: 8px;
}

table.rpt>tbody>tr>td>div>div>table>tbody>tr:last-of-type {
    padding: 24px;
    background-color: $white;
    display: block;
}

table.rpt>tbody>tr>td>div{
    border: 1px solid $gray-400;
    border-top: transparent;
    border-radius: 4px;
}

#ctl00_ContentPlaceHolder1_ReportViewer1 .ToolBarBackground{
	background-color: $gray-300 !important;
}

#ctl00_ContentPlaceHolder1_ReportViewer1 .ActiveLink{
	color: $blue !important;
}

.MSRS-RVC input{
	display: block;
    width: 100%;
    height: calc(1.5em + 0.75rem + 2px);
    padding: 0.375rem 0.75rem;
    font-size: 0.9rem;
    font-weight: 400;
    line-height: 1.5;
    color: #454545;
    background-color: #fff;
    background-clip: padding-box;
    border: 1px solid #dedede;
    border-radius: 0.25rem;
    transition: border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
    
    @include form-control-focus();
}

#ctl00_ContentPlaceHolder1_ReportViewer1 .searchHighlighting{
	background-color: $blue !important;
	color: $white;
}

.ToolbarPageNav table tbody tr td:nth-of-type(5){
	margin-right: 8px;
    margin-top: 4px;
    display: block;
    
    input{
        text-align: right;
		padding-right: 8px !important;
    }
}

// Icons
	#ctl00_ContentPlaceHolder1_ReportViewer1 .glyphui{
	    font-family: "Font Awesome 5 Pro" !important;
	}
	
	#ctl00_ContentPlaceHolder1_ReportViewer1 span.glyphui{
		color: $black !important;
	}
	
	.glyphui-nextpage, .glyphui-previouspage{
	    font-size: 1.7rem !important;
		margin-top: 2px !important;
		font-weight: lighter !important;
	}
	
	// Disabled buttons
	#ctl00_ContentPlaceHolder1_ReportViewer1 .DisabledButton[disabled="disabled"] span.glyphui{
		color: $gray-500 !important;
	}
	
	// last page
	#ctl00_ContentPlaceHolder1_ReportViewer1 .glyphui-lastpage:before{
		content: "\f051" !important;
	}
	
	// first page
	#ctl00_ContentPlaceHolder1_ReportViewer1 .glyphui-firstpage:before{
		content: "\f048" !important;
	}
	
	// previous page
	#ctl00_ContentPlaceHolder1_ReportViewer1 .glyphui-previouspage:before{
		content: "\f0d9" !important;
	}
	
	// next page
	#ctl00_ContentPlaceHolder1_ReportViewer1 .glyphui-nextpage:before{
		content: "\f0da" !important;
	}
	
	// refresh
	#ctl00_ContentPlaceHolder1_ReportViewer1 .glyphui-refresh:before{
		content: "\f01e" !important;
	}
	
	// print
	#ctl00_ContentPlaceHolder1_ReportViewer1 .glyphui-print:before{
		content: "\f02f" !important;
	}
	
	// save
	#ctl00_ContentPlaceHolder1_ReportViewer1 .glyphui-save:before{
		content: "\f0c7" !important;
	}
	
	#ctl00_ContentPlaceHolder1_ReportViewer1 .glyphui-downarrow:before{
		content: "\f078" !important;
	}
	
	// back to parent
	.ToolbarBack.WidgetSet {
	    display: none !important;
	}