.row-label{
	padding-top:5px;
	padding-left:4px;
	padding-right:2px;
	text-align:center;
	color: #929292;
	cursor: default;
}

.seat {
    min-width: 22px;
    padding-left: 10px;
    padding-right: 10px;
    line-height: 22px;
    color: white !important;
    text-align: center;
    width: 20px;
    height: 20px;
    border-radius: 15px 15px 2px 2px;
    float: left;
    margin: 1px;
    border: 1px solid #737373;
    margin-right: 4px;
}

.seatTable td {
    color: #000000 !important;
    line-height: 0 !important;
    padding-left: 0 !important;
    vertical-align: top;
}

.spacer {
    border-radius: 50px 50px 50px 50px;
    float: left;
    height: 20px;
    margin: 1px;
    width: 20px;
}


.seat-label {
    display: inline-block;
    float: left;
    margin-right: 32px;
}

/* SEAT SELECTION PAGE */

/* Legend Start */
/*
#ctl00_ContentPlaceHolder1_ec_dvSeatingChartNames .seat-label:nth-of-type(4){
	display: none;
}
*/

span.legend-label {
    margin-top: 2px;
    display: inline-block;
    margin-left: 1px;
}
/* Legend End */

/* Seating chart color cleanup */

.seatTable tr td span{
	font-weight: normal !important;
}

.seatTable .seat_available, .seatTable td[classselection="seat_handicap"], .seatTable td[classselection="seat_companion"], .seatTable .seat_available, .seatTable .seat_blocked{
	cursor: pointer;
}

/*
#seatSelection:hover .seat_available font, #seatSelection:hover td[classselection="seat_handicap"] font, #seatSelection:hover td[classselection="seat_companion"] font, #seatSelection:hover .seat_available font, #seatSelection:hover .seat_blocked font, #seatSelection:hover .seat_rehold font, #seatSelection:hover td[classselection="seat_reserved1"] font,{
	opacity: 0;
}
*/

.seatTable .seat_blocked, .seatTable .seat_reserved1, .seatTable .seat_reserved2, .seatTable td[classselection=""]{
	cursor: default;
	border: 1px solid gray;
	
	
}

.seat_reserved1 font, .seatTable td[classselection=""] font{
	color: $gray-850 !important;
}

.seatTable .seat_rehold center, .seatTable .seat_blocked center, .seatTable .seat_reserved2 center, .seatTable td[classselection="seat_handicap"] center, .seatTable td[classselection="seat_companion"] center, .seatTable td[classselection="seat_reserved1 package-seat"] center{
	display: none !important;
}

.seatTable .seat_selected{
	border: 1px solid #002b59;
}

.seatTable .seat_selected font{
	color: #06488E !important;	
	font-weight: bold !important;
}

#ctl00_ContentPlaceHolder1_gvSeatingChartColor tr:nth-of-type(7) td:nth-of-type(2) div::before, .seatTable td[classselection="seat_handicap"]::before,  #ctl00_ContentPlaceHolder1_ec_dvSeatingChartNames .seat-label:nth-of-type(6) .legend-seat::before{
	font-family: "Font Awesome 5 Brands";
	font-weight: normal;
	content: "\f368";
	display: block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
    margin-left: 5px;
    font-size: 11px;
    color: white !important;
    margin-top: 11px;
}



#ctl00_ContentPlaceHolder1_gvSeatingChartColor tr:nth-of-type(7) td:nth-of-type(2) div::before, #ctl00_ContentPlaceHolder1_ec_dvSeatingChartNames .seat-label:nth-of-type(6) .legend-seat::before{ /* Legend Icon Adjustment*/
	margin-top: -1px;
	margin-left: -5px;
}

#ctl00_ContentPlaceHolder1_gvSeatingChartColor tr:nth-of-type(8) td:nth-of-type(2) div::before, .seatTable td[classselection="seat_companion"]::before,  #ctl00_ContentPlaceHolder1_ec_dvSeatingChartNames .seat-label:nth-of-type(7) .legend-seat::before{
	font-family: "Font Awesome 5 Pro";
	font-weight: bold;
	content: "\f500";
	display: block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
    margin-left: 4px;
    font-size: 10px;
    color: white;
    margin-top: 10px;
}

#ctl00_ContentPlaceHolder1_gvSeatingChartColor tr:nth-of-type(8) td:nth-of-type(2) div::before, #ctl00_ContentPlaceHolder1_ec_dvSeatingChartNames .seat-label:nth-of-type(7) .legend-seat::before{ /* Legend Icon Adjustment*/
	margin-top: -1px;
	margin-left: -6px;
}

.seatTable .seat_selected[classselection="seat_companion"]::before{
	margin-left: 3px;
}

.seatTable .seat_selected[classselection="seat_handicap"]::before{
	margin-left: 4px;
}


.seatTable tr .seat_available:hover font, .seatTable tr td[classselection="seat_handicap"]:hover font, .seatTable tr td[classselection="seat_companion"]:hover font, #REMOVEMydiv:hover font,{
// 	opacity: 1;
	color: #D9E8FC !important;
}

.selectRow{
// 	opacity: .15;
	cursor: pointer;
}

.selectRow:hover{
	color: $blue !important;
}

/*
.seatTable tr:hover font, .selectRow:hover{
	opacity: 1 !important;
}
*/

.seatTable tr:hover .row-label{
	color: black;
}

.seatTable tr:hover .seat_available , .seatTable tr:hover .seat_handicap[classselection="seat_handicap"], .seatTable tr:hover .seat_companion[classselection="seat_companion"] {
/* 	box-shadow: inset 0 0 0 99999px rgba(0, 0, 0, 0.3); */
	background-color: $gray-850 !important;
}

.seatTable tr td.seat_available:hover, .seatTable tr td.seat_held:hover, .seatTable tr:hover .seat_handicap[classselection="seat_handicap"]:hover, .seatTable tr:hover .seat_companion[classselection="seat_companion"]:hover  {
	background-color: #D9E8FC !important;
	border: none;
    box-shadow: none !important;
    cursor: pointer;
}

/*
.seatTable tr td.seat_rehold:hover, .seatTable tr td.seat_reserved1:hover{
	background-color: inherit !important;
	border: 1px solid gray;
	cursor: inherit !important;
}
*/

.seatTable td[data-toggle="tooltip"]:hover font{
	display: none !important;
}

.seatTable td[classselection="seat_reserved1"]:hover font, .seatTable td[classselection=""]:hover font{
	display: initial !important;
}

.seatTable td.seat_rehold:hover font{
	display: initial !important;
	cursor: default !important;
}

.seatTable td[data-toggle="tooltip"]:hover::before{
	font-family: "Font Awesome 5 Pro";
	font-weight: bold;
	content: "\f00c";
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
    margin-left: 5px;
    font-size: 10px;
    margin-top: 11px;
}

.seatTable td.seat_reserved1:hover::before, .seatTable td.seat_rehold:hover::before, .seatTable td[classselection=""]:hover::before{
	content: none;
}	

.seatTable td[data-toggle="tooltip"]:hover::before, .seatTable .seat_selected[classselection="seat_handicap"]::before, .seatTable .seat_selected[classselection="seat_companion"]::before{
    color: $primary !important;
}

.seatTable .seat_selected:hover::before{
	content: "\f068" !important;
    margin-left: 5px !important;
    font-size: 11px !important;
}

#ctl00_ContentPlaceHolder1_gvSeatingChartColor tr:nth-of-type(4) td:nth-of-type(2) div::before, .seatTable td.seat_reserved2:hover::before, .seatTable .seat_reserved2::before, #ctl00_ContentPlaceHolder1_ec_dvSeatingChartNames .seat-label:nth-of-type(3) .legend-seat::before{
	font-family: "Font Awesome 5 Pro";
	font-weight: bold;
	content: "\f02b";
	display: block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
    margin-left: 5px;
    font-size: 10px;
    color: $gray-600 !important;
    margin-top: 10px;
}

#ctl00_ContentPlaceHolder1_gvSeatingChartColor tr:nth-of-type(4) td:nth-of-type(2) div::before, #ctl00_ContentPlaceHolder1_ec_dvSeatingChartNames .seat-label:nth-of-type(3) .legend-seat::before{ /* Legend Icon Adjustment*/
	margin-top: -1px;
	margin-left: -4px;
}

.seatTable .seat_blocked::before{
	content: none !important;
}

.section-change-button-vertical {
    padding: 64px 8px;
}

 .section-change-button-horizontal{
    padding: 0px 64px;
    display: inline-block;
}

.section-change-button {
    border: 1px solid $gray-600;
    border-radius: 24px;
    color: $gray-600;
    display: block;
}

.section-change-button:hover{
    background: $blue;
    color: $white;
    border: 1px solid $blue;
}

#seatSelection:hover tr .row-label-right div, #seatSelection:hover tr .row-label-left div{
	color: $gray-700;
}

#seatSelection:hover .seatTable tr:hover .row-label-right div, #seatSelection:hover .seatTable tr:hover .row-label-left div{
	color: $black;
}

#ctl00_ContentPlaceHolder1_gvSeatingChartColor{
	tr:nth-of-type(2) td:nth-of-type(3)::before,
	tr:nth-of-type(3) td:nth-of-type(3)::before,
	tr:nth-of-type(4) td:nth-of-type(3)::before,
	tr:nth-of-type(5) td:nth-of-type(3)::before,
	tr:nth-of-type(6) td:nth-of-type(3)::before,
	tr:nth-of-type(7) td:nth-of-type(3)::before,
	tr:nth-of-type(8) td:nth-of-type(3)::before,
	tr:nth-of-type(9) td:nth-of-type(3)::before,
	tr:nth-of-type(10) td:nth-of-type(3)::before{
	   font-family: "Font Awesome 5 Pro";
		font-weight: bold;
		content: "\f071";
		display: inline-block;
		font-style: normal;
		font-variant: normal;
		text-rendering: auto;
		-webkit-font-smoothing: antialiased;
		margin-right: 4px;
		color: darken($warning, 10%);
	}
}

.row-label-right, row-label-left{
    vertical-align: middle !important;
	font-size: .8rem;
}

.row-label-right a, row-label-left a{
	font-size: .7rem;
}

#ctl00_ContentPlaceHolder1_ec_dvSeatingChartNames .seat-label:nth-of-type(4) .legend-seat::before, .seatTable td[classselection="seat_reserved1 package-seat"]::before, .seatTable td[classselection="seat_reserved1 package-seat"]:hover::before{
	font-family: "Font Awesome 5 Pro";
	font-weight: normal !important;
	content: "\f1b2" !important;
	display: block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
    margin-left: 5px;
    font-size: 11px;
    color: #5c5c5c !important;
    margin-top: 11px;
}

#ctl00_ContentPlaceHolder1_ec_dvSeatingChartNames .seat-label:nth-of-type(4) .legend-seat::before{
	margin-top: -1px;
    margin-left: -5px;
}