//
// Basic LDS table
//

.table {
  width: 100%;
  margin-bottom: 0px; // $spacer;
  color: $table-color;
  background-color: $table-bg; // Reset for nesting within parents with `background-color`.
  border-color: transparent;
  font-size: .75rem;
  white-space: nowrap;
  
  th,
  td {
    padding: $table-cell-padding;
    vertical-align: middle;
    border:	none;
    border-top: $table-border-width solid $table-border-color;
  }

  thead th {
    vertical-align: bottom;
    border-bottom: (2 * $table-border-width) solid $table-border-color;
  }

  tbody + tbody {
    border-top: (2 * $table-border-width) solid $table-border-color;
  }
  
  th{
	  background-color: $gray-400;
      font-size: .75rem;
      border-top: none;
      padding: .25rem .5rem;
  }
  
  th:last-of-type{
	  border-right: 1px solid $gray-400;
  }
}

.card table{
	    border-top: 1px solid $gray-500;
}

.card table:last-of-type{
	    border-bottom: 1px solid $gray-500;
}

.card table:first-of-type{
	    border-top: 0px;
	    border-bottom: 0px;
}
//


//
// Condensed table w/ half padding
//

.table-sm {
  th,
  td {
    padding: $table-cell-padding-sm;
  }
}


// Border versions
//
// Add or remove borders all around the table and between all the columns.

.table-bordered {
  border: $table-border-width solid $table-border-color;

  th,
  td {
    border: $table-border-width solid $table-border-color;
  }

  thead {
    th,
    td {
      border-bottom-width: 2 * $table-border-width;
    }
  }
}

.table-borderless {
  th,
  td,
  thead th,
  tbody + tbody {
    border: 0;
  }
}

// Zebra-striping
//
// Default zebra-stripe styles (alternating gray and transparent backgrounds)

.table-striped {
  tbody tr:nth-of-type(#{$table-striped-order}) {
    background-color: $table-accent-bg;
  }
}


// Hover effect
//
// Placed here since it has to come after the potential zebra striping

.table-hover {
  tbody tr {
    @include hover {
      color: $table-hover-color;
      background-color: $table-hover-bg;
    }
  }
}


// Table backgrounds
//
// Exact selectors below required to override `.table-striped` and prevent
// inheritance to nested tables.

@each $color, $value in $theme-colors {
  @include table-row-variant($color, theme-color-level($color, $table-bg-level), theme-color-level($color, $table-border-level));
}

@include table-row-variant(active, $table-active-bg);


// Dark styles
//
// Same table markup, but inverted color scheme: dark background and light text.

// stylelint-disable-next-line no-duplicate-selectors
.table {
  .thead-dark {
    th {
      color: $table-dark-color;
      background-color: $table-dark-bg;
      border-color: $table-dark-border-color;
    }
  }

  .thead-light {
    th {
      color: $table-head-color;
      background-color: $table-head-bg;
      border-color: $table-border-color;
    }
  }
}

.table-dark {
  color: $table-dark-color;
  background-color: $table-dark-bg;

  th,
  td,
  thead th {
    border-color: $table-dark-border-color;
  }

  &.table-bordered {
    border: 0;
  }

  &.table-striped {
    tbody tr:nth-of-type(odd) {
      background-color: $table-dark-accent-bg;
    }
  }

  &.table-hover {
    tbody tr {
      @include hover {
        color: $table-dark-hover-color;
        background-color: $table-dark-hover-bg;
      }
    }
  }
}


// Responsive tables
//
// Generate series of `.table-responsive-*` classes for configuring the screen
// size of where your table will overflow.

.table-responsive {
    overflow-y: hidden;
/*
  th, td{
		width:1%;
	    white-space:nowrap;
	}
*/
  
  @each $breakpoint in map-keys($grid-breakpoints) {
    $next: breakpoint-next($breakpoint, $grid-breakpoints);
    $infix: breakpoint-infix($next, $grid-breakpoints);

    &#{$infix} {
      @include media-breakpoint-down($breakpoint) {
        display: block;
        width: 100%;
        //overflow-x: auto;
        -webkit-overflow-scrolling: touch;

        // Prevent double border on horizontal scroll due to use of `display: block;`
        > .table-bordered {
          border: 0;
        }
      }
    }
  }
/*
  
  overflow-x:visible !important;
*/
	//overflow-y: hidden;
	
	
}


.table th a{
	color: initial;
	
	&:before {
	    content: "\f0dc";
	    padding-right: 5px;
	    position: relative;
	    top: 0;
	    font-family: "Font Awesome 5 Pro";
	}
	
	.btn:before {
		content: none;
	}
}



ol, ul, dl{
	margin-bottom: 0px !important;
}


// Reset List Style
ul{
	list-style: none;
}
// End Reset List Style
//
// List Page LDS table
//

.event-name{
	font-weight: 500;
	font-size: .8rem;
	margin-bottom: 2px;
}

.dt{
    font-size: .7rem;
    font-weight: normal;
}
.dt-day{
	color: $gray-700;
    margin-right: 2px;
    text-align: center;
	width: 33px;
    display: inline-block;
    background-color: $white;
    border-radius: 2px;
    padding: 0px 3px;
    border: 1px solid $gray-500;
}

.dt-day-alt{
	color: $gray-600;
	background-color: $white;
	border: 1px solid $gray-600;
}

.dt-date{
    width: 58px;
    display: inline-block;
    margin-right: 4px;
    text-align: right;
}
.dt-time{
    width: 50px;
    display: inline-block;
    text-align: right;
}
.dt-dateless{
	text-align: left;
	font-style: italic;
	color: $gray-700;
}
.dataTable {
		th{
	    width: initial;
	    padding: 0px;
	    height: 28px;
	    padding-left: 8px;
	    vertical-align: middle !important;
	    
	    &.action-column{
	        width: 90px !important;
			text-align: center;
	    }
		
		&.feature-column{
			width: 58px !important;
			text-align: center;
		}
		
		&.number-column{
			width: 115px !important;
			text-align: right;
		    padding-right: 8px;
		}
		
		&.data-column{
		    padding-left: 8px;
		}
		
		&.narrow-column{
		    width: 1px;
		    padding-left: 0px;
		    text-align: center;
		}
	}
}	

.reorder-column{
	width: 32px !important;
}

// Fix for reordering breaking dropdowns
li[id*="__rli"]{
opacity: 1 !important;
}

li[id*="dat"]{
	opacity: 0.4 !important;
	list-style: none !important;
}
// Fix for reordering breaking dropdowns

.item-list-header {
// 	margin-bottom: -16px;
		
		& table{
			width: 100%;
		}
		
		& ul, & ul:active, ul{
		    list-style-type: none !important;
		    padding-inline-start: 0px;
		}
	    
	    &>div>ul>li{
		    padding: .5rem;
		    border-top: 1px solid $gray-400;
		    margin-bottom: -1px;
		    padding-right: 0px;
	    }
	    
	     &>div>ul>li:last-of-type{
		    margin-bottom: 0px;
	    }
	    
	    &>div>ul>li:nth-of-type(even){
		    background-color: $gray-200;
	    }

}

.display-column, .action-column{
    width: 20px !important;
    padding: 0px 8px;
}

.date-column{
	width: 174px !important;
    padding: 0px 8px;
	font-size: 12px;
}

.feature-column{
    width: 58px !important;
    padding: 0px;
    text-align: center;
}

.number-column{
    width: 115px !important;
    padding: 0px 8px;
    text-align: right;
    font-size: 12px;
}

.item-list .data-column{
    padding: 0px 8px;
    font-size: 12px;
}

.item-list{
    width: 100%;
}

.item-list td{
    width: initial;
    vertical-align: middle;
}

.reorder{
    cursor: ns-resize;
    text-align: center;
    font-size: 1.8rem;
    color: $gray-400;
    margin-right: 0.5rem;
}

.reorder:hover{
    color: $gray-700;
}

.item-list .li-display-on, .item-list .li-display-off{
    font-size: 1.8rem;
}

 .item-list .li-featured-on, .item-list .li-featured-off{
     font-size: 1.3rem;
 }

.item-list .far:hover, .item-list .fas:hover, .item-list .fa:hover{
    color: $blue !important;
    text-decoration: none;
}

.text-align-center span{
	text-align: center;
}

.paging{
	margin: -8px -9px;
	padding: 7px 8px 8px 9px;
	background-color: $gray-350;
	color: $gray-700;
	border-radius: 0px 0px 3px 3px;	
	font-size: 14px;
	
	.black{
		font-weight: bold;
	}
	
	a:hover{
		text-decoration: none;
	}
	
	a:after{
	    font-family: "Font Awesome 5 Pro";
	    color: $gray-600;
	    font-size: 21px;
	    font-weight: 500;
	    padding: 0.37rem 0.44rem;
	    border: 1px solid $gray-500;
		border-radius: 3px;
	}
	
	.first:after, .last:after{
	    font-size: 14px;
		position: relative;
		top: -2px;
	}
	
	.first:after{
	    content: "\f048";
// 	    margin-right: 4px;
		margin-right: 2px;
	}
	
	.previous:after{
	    content: "\f0d9";
        padding: 0.16rem 0.68rem;
	    font-weight: 100;
	    top: 1px;
	    position: relative;
	}
	
	.next:after{
	    content: "\f0da";
        padding: 0.16rem 0.68rem;
	    font-weight: 100;
	    top: 1px;
	    position: relative;
	}
	
	.last:after{
		content: "\f051";
// 		margin-left: 4px;
		margin-left: 2px;
	}
	
	> span {
	    top: -2px;
	    position: relative;
	    padding: 0px 5px 0px 4px;
	}
	
	a:hover:after{
	    background-color: $blue;
	    color: $white;
	    border-radius: 3px;
	    font-weight: 900;
	    border-color: darken($blue, 20%);
	}
}

.table-short{
    max-height: 200px;
	overflow-y: scroll;
}

.table-white-space-initial {
    white-space: initial;
}

// Checkboxes inside tables
table tr td label[for]{
	display: initial;
	margin-left: 4px;
	font-weight: normal !important;	
}

table tr td input[type="checkbox"] {
    margin-bottom: 8px;
}

// Order Tables
.row-event, .row-package, .row-package-event, .row-gift-certificate, .row-donation{
    background-color: $gray-325 !important;
    font-weight: bold;
}

.row-ticket, .row-event, .row-gift-certificate, .row-donation, .row-gift-certificate-amount, .row-donation-amount{
    border-left: 8px solid transparent;
}

.row-package-ticket, .row-package, .row-package-event{
    border-left: 8px solid $gray-500;
}

.row-package{
    background-color: $gray-500 !important;
}

.row-ticket>td:first-of-type, .row-package-ticket>td:first-of-type, .row-gift-certificate-amount>td:first-of-type, .row-donation-amount>td:first-of-type {
	padding-left: 16px !important;
}

tr.row-package {
    background-color: $gray-350 !important;
    border-left-color: $gray-350;
}