.rArrowD, .rArrowU {
    height: 17px;
    background: $gray-300;
    text-align: center;
    color: $blue; // $gray-700;
}

.rArrowU:before, .rArrowD:before{
  display: inline-block;
  font-style: normal;
  font-variant: normal;
  text-rendering: auto;
  -webkit-font-smoothing: antialiased;
}

.rArrowU:before{
	font-family: "Font Awesome 5 Pro";
	font-weight: 100;
	content: "\f106";
	margin-top: -1px;
}

.rArrowD:before{
	font-family: "Font Awesome 5 Pro";
	font-weight: 100;
	content: "\f107";
	margin-top: -2px;
}

.rArrowU:hover, .rArrowD:hover {
    background-color: $blue; //$gray-800;
    color: white;
}

.form-time{
    border: 1px solid #dedede;
    width: 100%;
    display: block;
    border-radius: 4px;
    height: calc(1.5em + .75rem + 2px);
    
    table{
	    width: 100%;
    }
    
    td:first-of-type{
	    vertical-align: initial !important;
    }
    
    td:last-of-type{
	    background-color: $gray-300;
	    width: 16px;
    }
    
    input {
	    border: none !important;
	    width: 30% !important;
        text-align: center;
        height: 32px !important;
        margin-top: 1px;
        
    }
    
    input[value=":"]{
	    width: 10% !important;
	    background-color: $gray-300;
    }
    
    input[value="AM"], input[value="PM"]{
	    border-left: 2px solid $gray-300 !important;
        border-right: 2px solid transparent !important;
    }
}