// customisations for Redactor third party library

/* WYSIWYG EDITOR */

.searchMessage {
    border-left:1px solid $gray-400;
    border-right:1px solid $gray-400;
    padding:5px;
    font-size:1.5em;
    text-align: center;
}


.re-formatting:before{		content: "\f1dd" !important;}
.re-bold:before{			content: "\f032" !important;}
.re-italic:before{			content: "\f033" !important;}
.re-deleted:before{			content: "\f0cc" !important;}
.re-unorderedlist:before{	content: "\f0ca" !important;}
.re-orderedlist:before{		content: "\f0cb" !important;}
.re-outdent:before{			content: "\f03b" !important;}
.re-indent:before{			content: "\f03c" !important;}
.re-image:before{			content: "\f03e" !important;}
.re-link:before{			content: "\f0c1" !important;}
.re-alignleft:before, 
.re-alignment:before{		content: "\f036" !important;}
.re-horizontalrule:before{	content: "\f2d1" !important;}
.re-fontcolor:before{		content: "\f031" !important;}
.re-backcolor:before{		content: "\f031" !important; color: $white; background: $black; padding: 3px; margin-left: -3px;}
.re-backcolor:hover:before{background: $white; color: $black;}

.redactor-editor {
	ol{
		list-style-type: decimal !important;
	}
	
	ul{
		list-style-type: disc !important;
	}
	
	hr {
	    margin-bottom: 20px;
	    margin-top: 20px;
	}
	
	&::selection {
	  color: inherit;
	  background: rgba(144, 183, 225, 0.5); /* WebKit/Blink Browsers */
	}
	
	&::-moz-selection {
	  color: pink !important;
	  background: orange !important; /* Gecko Browsers */
	}
}

.redactor-editor blockquote, .redactor-editor div, .redactor-editor dl, .redactor-editor ol, .redactor-editor ol li,.redactor-editor ol li, .redactor-box span, .redactor-editor ol li span,.redactor-editor ol li sppan, .redactor-editor p, .redactor-editor pre, .redactor-editor table, .redactor-editor ul, .redactor-editor p span, .redactor-editor span .redactor-editor p{
	line-height: 20px !important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif;
}

.redactor-box textarea#redactor_content {padding: 20px;}

.redactor-editor h1, .redactor-editor h2, .redactor-editor h3, .redactor-editor h4, .redactor-editor h5,  .redactor-editor h6{text-shadow: none;font-weight: 500 !important;line-height: 1.1 !important; color: #333333 !important; font-family: "Helvetica Neue",Helvetica,Arial,sans-serif !important; margin-top: 20px !important; margin-bottom: 10px !important;}

.redactor-dropdown-h1, .redactor-editor h1{font-size: 2.027em !important}
.redactor-dropdown-h2, .redactor-editor h2{font-size: 1.802em !important}
.redactor-dropdown-h3, .redactor-editor h3{font-size: 1.602em !important}
.redactor-dropdown-h4, .redactor-editor h4{font-size: 1.424em !important}
.redactor-dropdown-h5, .redactor-editor h5{font-size: 1.266em !important}
.redactor-dropdown-h6, .redactor-editor h6{font-size: 1.125em !important}


// Modal -- Start
#redactor-modal {
	border-radius: 4px;
	
	label{font-weight: bold;}
	
	footer {
	    background: #e4e4e4;
	    height: 52px;
	    margin-top: 8px !important;
	}
	
	section {
	    padding: 8px 16px 8px;
	}
	
	header {
	    padding: 16px;
	    border-bottom: 1px solid #E5E5E5;
	}
	
	select, input[type=text], input[type=url]{
		width: 100%;
	    height: 34px;
	    padding: 0px 12px !important;
	    font-size: 14px;
	    line-height: 1.42857143;
	    color: #555;
	    background-color: #fff;
	    background-image: none;
	    border: 1px solid #ccc;
	    border-radius: 4px;
	    -webkit-box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	    box-shadow: inset 0 1px 1px rgba(0,0,0,.075);
	    -webkit-transition: border-color ease-in-out .15s,-webkit-box-shadow ease-in-out .15s;
	    -o-transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	    transition: border-color ease-in-out .15s,box-shadow ease-in-out .15s;
	}
}

.redactor-modal-btn {
    width: 31.333% !important;
    margin: 1% !important;
    padding: 12px 16px !important;
}

.redactor-modal-action-btn{
    background-color: #248525 !important;
    border-color: #207821 !important;
}

.redactor-modal-action-btn:hover{
    background-color: #1d6b1d !important;
    border-color: #1a5e1a !important;
}

.redactor-modal-delete-btn:hover, .redactor-modal-action-btn:hover{
	color: $white !important;
}

.redactor-modal-close-btn{
	display: inline-block;
    margin-bottom: 0;
    font-weight: normal;
    text-align: center;
    vertical-align: middle;
    cursor: pointer;
    background-image: none;
    border: 1px solid transparent;
    white-space: nowrap;
    padding: 6px 12px;
    font-size: 14px;
    line-height: 1.428571429;
    border-radius: 4px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    -o-user-select: none;
    user-select: none;
	//width: 44% !important;
    float: right;
    color: #333 !important;
    background-color: #fff !important;
    border: 1px solid #ccc !important;
	// margin: 16px !important;
}

.redactor-modal-close-btn:hover{
    background-color: #ebebeb !important;
    border-color: #adadad !important;
}

.redactor-modal-action-btn{
/* 	width: 44% !important; */
    float: left;
/*     margin: 16px !important; */
}
// Modal -- End


/* END WYSIWYG EDITOR */

// THROWN OUT

/*
.redactor-dropdown-pre{visibility: hidden;}
.redactor-dropdown-pre:after{ 
  visibility: visible;
  display: block;
  position: absolute; content: "Container"; background: #d4d4d4; padding: 2px 8px; border-radius: 2px; margin-top: -24px;}
  
.redactor-dropdown-h1{border-top: 1px solid rgba(0,0,0,.07);}
*/