@import "icons/fontawesome";
@import "icons/light";
@import "icons/regular";
@import "icons/solid";
@import "icons/brands";

.redactor-box {
  position: relative;
  overflow: visible;
  //margin-bottom: 24px;
  textarea {
    display: block;
    position: relative;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: auto;
    outline: 0;
    border: none;
    background-color: #111;
    box-shadow: none;
    color: #ccc;
    font-size: 13px;
    font-family: Menlo, Monaco, monospace, sans-serif !important;
    resize: none;
  }
}

#redactor-modal {
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
  footer button {
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
  }
}

.redactor-dropdown, .redactor-editor {
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
}

.redactor-link-tooltip {
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
  a {
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
  }
}

.redactor-toolbar-tooltip {
  font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
}

.redactor-box {
  textarea:focus {
    outline: 0;
  }
  background: #fff;
}

.redactor-editor {
  background: #fff;
}

.redactor-box {
  z-index: auto;
  textarea {
    z-index: auto;
  }
}

.redactor-editor {
  z-index: auto;
}

.redactor-box-fullscreen {
  z-index: 1051;
}

.redactor-toolbar {
  z-index: 6;
}

.redactor-dropdown {
  z-index: 1052;
}

#redactor-modal, #redactor-modal-box, #redactor-modal-overlay {
  z-index: 1053;
}

body .redactor-box-fullscreen {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
}

.redactor-scrollbar-measure {
  position: absolute;
  top: -9999px;
  width: 50px;
  height: 50px;
  overflow: scroll;
}

.redactor-editor {
  position: relative;
  overflow: auto;
  margin: 0 !important;
  padding: 20px;
  min-height: 150px;
  outline: 0;
  white-space: normal;
  border: 1px solid #eee;
  font-size: 14px;
  line-height: 1.6em;
  &:focus {
    outline: 0;
  }
}

.toolbar-fixed-box + .redactor-editor {
  padding-top: 32px !important;
}

.redactor-toolbar {
  margin: 0 !important;
  padding: 0 !important;
  list-style: none !important;
  li {
    margin: 0 !important;
    padding: 0 !important;
    list-style: none !important;
  }
}

.redactor-placeholder:after {
  position: absolute;
  top: 20px;
  left: 20px;
  content: attr(placeholder);
  display: block;
  color: #999 !important;
  font-weight: 400 !important;
}

.redactor-toolbar {
  position: relative;
  top: 0;
  left: 0;
  font-size: 14px !important;
  line-height: 1 !important;
  background: $gray-200;
  border: 1px solid $gray-400; //none;
  box-shadow: none; //0 1px 2px rgba(0, 0, 0, 0.2);
  &:after {
    content: "";
    display: table;
    clear: both;
  }
  &.redactor-toolbar-overflow {
    overflow-y: auto;
    height: 29px;
    white-space: nowrap;
  }
  &.redactor-toolbar-external {
    z-index: 999;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.1);
  }
  li {
    vertical-align: top;
    display: inline-block;
    outline: 0;
    -webkit-box-sizing: content-box;
    -moz-box-sizing: content-box;
    box-sizing: content-box;
    a {
      display: block;
      color: #333;
      text-align: center;
      padding: 9px 10px;
      outline: 0;
      border: none;
      text-decoration: none;
      cursor: pointer;
      zoom: 1;
      -webkit-box-sizing: content-box;
      -moz-box-sizing: content-box;
      box-sizing: content-box;
      &:hover {
        outline: 0;
        background-color: $blue;
        color: #fff;
        i:before {
          color: #fff;
        }
      }
      &.redactor-act, &:active {
        outline: 0;
        background-color: #ccc;
        color: #444;
      }
      &.redactor-btn-image {
        width: 14px;
        height: 14px;
        background-position: center center;
        background-repeat: no-repeat;
      }
      &.fa-redactor-btn {
        display: inline-block;
        padding: 9px 10px 8px;
        line-height: 1;
      }
      &.redactor-button-disabled {
        filter: alpha(opacity = 30);
        -moz-opacity: .3;
        opacity: .3;
        &:hover {
          color: #333;
          outline: 0;
          background-color: transparent !important;
          cursor: default;
        }
      }
      &.redactor-button-focus {
        background: #000;
        color: #fff;
      }
    }
  }
}

.redactor-toolbar-tooltip {
  background: #000;
  color: #fff;
}

.redactor-box .CodeMirror {
  display: none;
}

.re-icon {
  font-family: "Font Awesome 5 Pro";
  speak: none;
  font-style: normal;
  font-weight: 400;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  i:before {
    position: relative;
    font-size: 14px;
  }
}

.re-video:before {								content: fa-content($fa-var-video);}
.re-unorderedlist:before {						content: fa-content($fa-var-list-ul);}
.re-undo:before {								content: fa-content($fa-var-undo);}
.re-underline:before {							content: fa-content($fa-var-underline);}
.re-textdirection:before {						content: fa-content($fa-var-align-left);}
.re-fontcolor:before {							content: fa-content($fa-var-font);}
.re-table:before {								content: fa-content($fa-var-table);}
.re-redo:before {								content: fa-content($fa-var-redo);}
.re-quote:before {								content: fa-content($fa-var-quote-left);}
.re-outdent:before {							content: fa-content($fa-var-outdent);}
.re-orderedlist:before {						content: fa-content($fa-var-list-ol);}
.re-link:before {								content: fa-content($fa-var-link);}
.re-horizontalrule:before {						content: fa-content($fa-var-window-minimize);}
.re-italic:before {								content: fa-content($fa-var-italic);}
.re-indent:before {								content: fa-content($fa-var-indent);}
.re-image:before {								content: fa-content($fa-var-file-image);}
.re-fullscreen:before {							content: fa-content($fa-var-expand-wide);}
.re-normalscreen:before {						content: fa-content($fa-var-compress);}
.re-formatting:before {							content: fa-content($fa-var-paragraph);}
.re-fontsize:before {							content: fa-content($fa-var-h1);}
.re-fontfamily:before {							content: fa-content($fa-var-heading);}
.re-deleted:before {							content: fa-content($fa-var-strikethrough);}
.re-html:before {								content: fa-content($fa-var-code);}
.re-clips:before {								content: fa-content($fa-var-copy);}
.re-bold:before {								content: fa-content($fa-var-bold);}
.re-backcolor:before {							content: fa-content($fa-var-font); color: $white; background: $black; padding: 3px; margin-left: -3px;}
.re-backcolor:hover:before{		background: $white; color: $black;}
.re-file:before {								content: fa-content($fa-var-file);}
.re-alignright:before {							content: fa-content($fa-var-align-right);}
.re-alignleft:before, .re-alignment:before {	content: fa-content($fa-var-align-left);}
.re-alignjustify:before {						content: fa-content($fa-var-align-justify);}
.re-aligncenter:before {						content: fa-content($fa-var-align-center);}
.re-gallery:before {							content: fa-content($fa-var-images);}

.redactor-toolbar-tooltip {
  position: absolute;
  z-index: 1054;
  text-align: center;
  top: 0;
  left: 0;
  padding: 5px 8px;
  line-height: 1;
  font-size: 12px;
  border-radius: 2px;
}

.redactor-dropdown {
  position: absolute;
  top: 28px;
  left: 0;
  padding: 0;
  min-width: 220px;
  max-height: 254px;
  overflow: auto;
  background-color: #fff;
  box-shadow: 0 1px 7px rgba(0, 0, 0, 0.25);
  font-size: 14px;
  line-height: 1.6em;
  a {
    display: block;
    padding: 10px 15px;
    color: $black;
    text-decoration: none;
    border-bottom: 1px solid rgba(0, 0, 0, 0.07);
    &:last-child {
      border-bottom: none;
    }
    &:hover {
      background-color: $blue;
      color: #fff !important;
      text-decoration: none;
    }
    &.selected {
      background-color: $black;
      color: #fff;
    }
    &.redactor-dropdown-link-inactive {
      background: 0 0;
      cursor: default;
      color: #000 !important;
      filter: alpha(opacity = 40);
      -moz-opacity: .4;
      opacity: .4;
      &:hover {
        background: 0 0;
        cursor: default;
        color: #000 !important;
        filter: alpha(opacity = 40);
        -moz-opacity: .4;
        opacity: .4;
      }
    }
  }
}

#redactor-image-editter, #redactor-image-resizer, .redactor-link-tooltip {
  background-color: $black;
  position: absolute;
  line-height: 1;
}

.redactor-dropdown a.redactor-dropdown-link-selected {
  color: #fff;
  background: #000;
}

#redactor-image-box {
  position: relative;
  max-width: 100%;
  display: inline-block;
  line-height: 0;
  outline: rgba(0, 0, 0, 0.6) dashed 1px;
}

#redactor-image-editter {
  z-index: 5;
  top: 50%;
  left: 50%;
  margin-top: -11px;
  margin-left: -18px;
  color: #fff;
  font-size: 11px;
  padding: 7px 10px;
  cursor: pointer;
}

#redactor-image-resizer {
  z-index: 2;
  cursor: nw-resize;
  bottom: -4px;
  right: -5px;
  border: 1px solid #fff;
  width: 8px;
  height: 8px;
}

.redactor-link-tooltip {
  z-index: 99;
  padding: 10px;
  display: inline-block;
  color: #555 !important;
  font-size: 12px;
  a {
    font-size: 12px;
    color: #ccc;
    margin: 0 5px;
    text-decoration: none;
    &:hover {
      color: #fff;
    }
  }
}

#redactor-droparea {
  position: relative;
  overflow: hidden;
  padding: 140px 20px;
  border: 3px dashed rgba(0, 0, 0, 0.1);
  &.drag-hover {
    background: rgba(200, 222, 250, 0.75);
  }
  &.drag-drop {
    background: rgba(250, 248, 200, 0.5);
  }
}

#redactor-droparea-placeholder {
  text-align: center;
  font-size: 12px;
  color: rgba(0, 0, 0, 0.7);
}

#redactor-progress {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 1000000;
  height: 10px;
  span {
    display: block;
    width: 100%;
    height: 100%;
    background-color: #3d58a8;
    background-image: -webkit-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: -o-linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    background-image: linear-gradient(45deg, rgba(255, 255, 255, 0.2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, 0.2) 50%, rgba(255, 255, 255, 0.2) 75%, transparent 75%, transparent);
    -webkit-animation: progress-bar-stripes 2s linear infinite;
    -o-animation: progress-bar-stripes 2s linear infinite;
    animation: progress-bar-stripes 2s linear infinite;
    background-size: 40px 40px;
  }
}

@-webkit-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}


@-o-keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}


@keyframes progress-bar-stripes {
  from {
    background-position: 40px 0;
  }

  to {
    background-position: 0 0;
  }
}


#redactor-modal-overlay {
  position: fixed;
  top: 0;
  left: 0;
  margin: auto;
  overflow: auto;
  width: 100%;
  height: 100%;
  background-color: #000 !important;
  filter: alpha(opacity = 30);
  -moz-opacity: .3;
  opacity: .3;
}

#redactor-modal-box {
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  overflow-x: hidden;
  overflow-y: auto;
}

#redactor-modal {
  outline: 0;
  position: relative;
  margin: auto auto 20px;
  padding: 0;
  background: #fff;
  color: $black;
  font-size: 14px !important;
  box-shadow: 0 1px 70px rgba(0, 0, 0, 0.5);
  header {
    padding: 30px 40px 5px;
    font-size: 18px;
    font-weight: 700;
  }
  section {
    padding: 30px 40px 50px;
  }
  label {
    display: block;
    float: none !important;
    margin: 15px 0 3px !important;
    padding: 0;
  }
  input {
    &[type=radio], &[type=checkbox] {
      position: relative;
      top: -1px;
    }
  }
  select {
    width: 100%;
  }
  input {
    &[type=text], &[type=password], &[type=email], &[type=url] {
      position: relative;
      z-index: 2;
      margin: 0;
      padding: 5px 4px;
      height: 28px;
      border: 1px solid #ccc;
      border-radius: 1px;
      background-color: #fff;
      box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
      color: #333;
      width: 100%;
      font-size: 14px;
      font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
      -moz-transition: border .3s ease-in;
      transition: border .3s ease-in;
    }
  }
  textarea {
    position: relative;
    z-index: 2;
    margin: 0;
    padding: 5px 4px;
    height: 28px;
    border: 1px solid #ccc;
    border-radius: 1px;
    background-color: #fff;
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    color: #333;
    width: 100%;
    font-size: 14px;
    font-family: Arial, Helvetica, Verdana, Tahoma, sans-serif !important;
    -moz-transition: border .3s ease-in;
    transition: border .3s ease-in;
  }
  input {
    &[type=text]:focus, &[type=password]:focus, &[type=email]:focus, &[type=url]:focus {
      outline: 0;
      border-color: #5ca9e4;
      box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    }
  }
  textarea:focus {
    outline: 0;
    border-color: #5ca9e4;
    box-shadow: 0 0 0 2px rgba(70, 161, 231, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
  }
  input {
    &[type=text].redactor-input-error, &[type=password].redactor-input-error, &[type=email].redactor-input-error, &[type=url].redactor-input-error {
      border-color: #e82f2f;
      box-shadow: 0 0 0 2px rgba(232, 47, 47, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    }
  }
  textarea {
    &.redactor-input-error {
      border-color: #e82f2f;
      box-shadow: 0 0 0 2px rgba(232, 47, 47, 0.3), 0 1px 2px rgba(0, 0, 0, 0.2) inset;
    }
    display: block;
    margin-top: 4px;
    line-height: 1.4em;
  }
}

#redactor-modal-tabber {
  margin-bottom: 15px;
  font-size: 12px;
  a {
    border: 1px solid #ddd;
    line-height: 1;
    padding: 8px 15px;
    margin-right: -1px;
    text-decoration: none;
    color: $black;
    &:hover {
      background-color: $blue;
      border-color: $blue;
      color: #fff;
    }
    &.active {
      cursor: default;
      background-color: #ddd;
      border-color: #ddd;
      color: rgba(0, 0, 0, 0.6);
    }
  }
}

#redactor-modal #redactor-modal-list {
  margin-left: 0;
  padding-left: 0;
  list-style: none;
  max-height: 250px;
  overflow-x: auto;
  li {
    border-bottom: 1px solid #ddd;
    &:last-child {
      border-bottom: none;
    }
  }
  a {
    padding: 10px 5px;
    color: $black;
    text-decoration: none;
    font-size: 13px;
    display: block;
    position: relative;
    &:hover {
      background-color: #eee;
    }
  }
}

#redactor-modal-close {
  position: absolute;
  top: 10px;
  right: 10px;
  width: 30px;
  height: 30px;
  text-align: right;
  color: #bbb;
  font-size: 30px;
  font-weight: 300;
  cursor: pointer;
  -webkit-appearance: none;
  padding: 0;
  border: 0;
  background: 0;
  outline: 0;
  &:hover {
    color: $black;
  }
}

#redactor-modal footer button {
  position: relative;
  width: 100%;
  padding: 14px 16px;
  margin: 0;
  outline: 0;
  border: none;
  background-color: #ddd;
  color: $black;
  text-align: center;
  text-decoration: none;
  font-weight: 400;
  font-size: 12px;
  line-height: 1;
  cursor: pointer;
  &:hover {
    color: #777;
    background: #bbb;
    text-decoration: none;
  }
  &.redactor-modal-delete-btn {
    background: #b52525;
    color: #fff;
    &:hover {
      color: rgba(255, 255, 255, 0.6);
      background-color: #881b1b;
    }
  }
  &.redactor-modal-action-btn {
    background: #2461b5;
    color: #fff;
    &:hover {
      color: rgba(255, 255, 255, 0.6);
      background-color: #1a4580;
    }
  }
}

.redactor-dropdown {
  .redactor-formatting-blockquote {
    color: rgba(0, 0, 0, 0.4);
    font-style: italic;
  }
  .redactor-formatting-pre {
    font-family: monospace,sans-serif;
  }
  .redactor-formatting-h1 {
    font-size: 36px;
    line-height: 36px;
    font-weight: 700;
  }
  .redactor-formatting-h2 {
    font-size: 24px;
    line-height: 36px;
    font-weight: 700;
  }
  .redactor-formatting-h3 {
    font-size: 21px;
    line-height: 30px;
    font-weight: 700;
  }
  .redactor-formatting-h4 {
    font-size: 18px;
    line-height: 26px;
    font-weight: 700;
  }
  .redactor-formatting-h5 {
    font-size: 16px;
    line-height: 23px;
    font-weight: 700;
  }
}

.redactor-editor {
  code, pre {
    font-family: Menlo, Monaco, monospace, sans-serif !important;
    cursor: text;
  }
  blockquote, div, dl, ol, p, pre, table, ul {
    font-size: 14px;
    line-height: 1.6em;
  }
  a {
    color: #15c;
    text-decoration: underline;
  }
  embed, img, object, video {
    max-width: 100%;
    width: auto;
  }
  img, video {
    height: auto;
  }
  blockquote, div, dl, figure, ol, p, pre, table, ul {
    margin: 0 0 15px;
    border: none;
    background: 0 0;
    box-shadow: none;
  }
  hr, iframe, object {
    margin-bottom: 15px;
  }
  blockquote {
    margin-left: 1.6em !important;
    padding: 0;
    text-align: left;
    color: #777;
    font-style: italic;
    &:after, &:before {
      content: '';
    }
  }
  ol, ul {
    padding-left: 2em;
  }
  ol {
    ol, ul {
      margin: 2px;
      padding: 0 0 0 2em;
      border: none;
    }
  }
  ul {
    ol, ul {
      margin: 2px;
      padding: 0 0 0 2em;
      border: none;
    }
  }
  ol ol {
    li {
      list-style-type: lower-alpha;
    }
    ol li {
      list-style-type: lower-roman;
    }
  }
  dl dt {
    font-weight: 700;
  }
  dd {
    margin-left: 1em;
  }
  table {
    border-collapse: collapse;
    font-size: 1em;
    width: 100%;
    td {
      padding: 5px;
      border: 1px solid #ddd;
      vertical-align: top;
    }
    th {
      padding: 5px;
      border: 1px solid #ddd;
      vertical-align: top;
      font-weight: 700;
      border-bottom-color: #888;
    }
    thead td {
      font-weight: 700;
      border-bottom-color: #888;
    }
  }
  code {
    background-color: #d8d7d7;
  }
  pre {
    padding: 1em;
    border: 1px solid #ddd;
    border-radius: 3px;
    background: #f8f8f8;
    font-size: 90%;
  }
  hr {
    display: block;
    height: 1px;
    border: 0;
    border-top: 1px solid #ccc;
  }
  h1, h2, h3, h4, h5, h6 {
    font-weight: 700;
    color: $black;
    padding: 0;
    background: 0 0;
    text-rendering: optimizeLegibility;
    margin: 0 0 .5em;
  }
  h1, h2, h3, h4 {
    line-height: 1.3;
  }
  h1 {
    font-size: 36px;
  }
  h2 {
    font-size: 24px;
    margin-bottom: .7em;
  }
  h3 {
    font-size: 21px;
  }
  h4 {
    font-size: 18px;
  }
  h5 {
    font-size: 16px;
  }
  h6 {
    font-size: 12px;
    text-transform: uppercase;
  }
}