<div class="alert alert-info" id="allClientMessageContent">
	    This is an alert from UniversityTickets that is shown on all client sites.
	    <button type="button" class="close" data-dismiss="alert" aria-label="Close">
		    <span aria-hidden="true">×</span>
		  </button>
	</div>