// Light

/*!
 * Bootstrap v4.3.1 (https://getbootstrap.com/)
 * Copyright 2011-2019 The Bootstrap Authors
 * Copyright 2011-2019 Twitter, Inc.
 * Licensed under MIT (https://github.com/twbs/bootstrap/blob/master/LICENSE)
 */
 
 
// To Do List
// Replace all hex colors: font-awesome-animation.less
// Replace all hex colors: chosen.less
// Replace all hex colors: jquery-ui-timepicker-addon.less
// Replace all hex colors: handsontable.less
// Replace all hex colors: jquery-ui.less
// Replace all hex colors: redactor.less
// Replace all hex colors: jquery.typeahead.less
// Need to update JS file for chosen
// Need to update JS file for redactor (consider upgrading to v3 in UTIX-4540)
// Include colorpicker.min.css
// Include sweet alert
// Move FontAwesome from cdn to Lighthouse

// Bootstrap components
@import "functions";
@import "variables";
@import "mixins";
/*
@import "root";
@import "reboot";
@import "type";
@import "images";
@import "code";
@import "grid";
@import "tables";
@import "forms";
@import "buttons";
@import "transitions";
@import "dropdown";
@import "button-group";
@import "input-group";
@import "custom-forms";
@import "nav";
@import "card";
@import "pagination";
@import "badge";
@import "jumbotron";
*/

/* @import "progress"; */
// @import "media";
/* @import "list-group"; */
// @import "close";
// @import "toasts";
// @import "modal";
// @import "tooltip";
// @import "popover";
// @import "carousel";
// @import "spinners";
// @import "utilities";
// @import "print";

// Bootstrap customised 
// @import "_navbar";
/* @import "breadcrumb"; */

// 3rd party libraries
// @import "jquery-ui";
/* @import "font-awesome-animation"; */
// @import "chosen";
/* @import "jquery-ui-timepicker-addon"; */
/* @import "jquery.typeahead"; */
@import "redactor/redactor";
//@import "third-party-libraries/redactor";
	// Icons - Font Awesome
	@import "icons/fontawesome";
	@import "icons/light";
	@import "icons/regular";
	@import "icons/solid";
	@import "icons/brands";

// Custom componenets
// @import "icons/lighthouse-icons";
// @import "scroll-to-top";
// @import  "layout";
// @import "keyboard_shortcuts";
// @import "forms_chosen";
/* @import "forms_checkbox"; */
// @import "forms_search";
// @import "in_progress_overlay";
/* @import "popover_types"; */
// @import "_wysiwyg";
//@import "wysiwyg2";
//@import "_modal_sweet"; // based on Sweet Alert 1
// @import "modal_types";
// @import "calendar";
// @import "time";
// @import "help";
// @import "counter";

// Bootstrap customised 
//@import "alert";


// Patches to get redactor styles fully working in non-LDS pages
.redactor-box.redactor-styles-on .redactor-toolbar{
	background-color: #f7f7f7 !important;
}

.re-button:before{
	content: none !important;
}

.redactor-body-fullscreen .admin-menu{
	display: none;
}

.redactor-toolbar, .redactor-air{
	border: none !important;
}

.redactor-modal input[type="radio"], .redactor-modal input[type="checkbox"]{
	bottom: initial !important;
}

.redactor-modal label.checkbox{
	
}

.redactor-modal label.checkbox:hover{
	background-color: none !important;
}

.redactor-modal label.checkbox input[type="checkbox"], .redactor-modal .radio label input[type="radio"]{
	display: initial !important
}

.redactor-modal .checkbox{
	background: none !important;
	padding: 0px !important;
	padding-left: 20px !important;
	border: none !important;
	font-weight: normal !important;
}

.redactor-styles {
    font-family: "Helvetica Neue", Helvetica, Arial, sans-serif !important;
    font-size: 14px !important;
    line-height: 20px !important;
}

.redactor-styles ul, .redactor-styles ol{
    padding-inline-start: 40px;
}

.redactor-modal select {
  display: block;
  width: 100%;
  height: $input-height;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Placeholder

  &::placeholder {
    color: $input-placeholder-color !important;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}

.form-control {
  display: block;
  width: 100%;
  padding: $input-padding-y $input-padding-x;
  font-family: $input-font-family;
  @include font-size($input-font-size);
  font-weight: $input-font-weight;
  line-height: $input-line-height;
  color: $input-color;
  background-color: $input-bg;
  background-clip: padding-box;
  border: $input-border-width solid $input-border-color;

  // Note: This has no effect on <select>s in some browsers, due to the limited stylability of `<select>`s in CSS.
  @include border-radius($input-border-radius, 0);

  @include box-shadow($input-box-shadow);
  @include transition($input-transition);

  // Unstyle the caret on `<select>`s in IE10+.
  &::-ms-expand {
    background-color: transparent;
    border: 0;
  }

  // Customize the `:focus` state to imitate native WebKit styles.
  @include form-control-focus();

  // Placeholder

  &::placeholder {
    color: $input-placeholder-color !important;
    // Override Firefox's unusual default opacity; see https://github.com/twbs/bootstrap/pull/11526.
    opacity: 1;
  }

  // Disabled and read-only inputs
  //
  // HTML5 says that controls under a fieldset > legend:first-child won't be
  // disabled if the fieldset is disabled. Due to implementation difficulty, we
  // don't honor that edge case; we style them as disabled anyway.
  &:disabled,
  &[readonly] {
    background-color: $input-disabled-bg;
    // iOS fix for unreadable disabled content; see https://github.com/twbs/bootstrap/issues/11655.
    opacity: 1;
  }
}