.redactor-dropdown {
    font-family: $base-font-family;
    display: none;
    position: absolute;
    z-index: $z-index-dropdown;
    background-color: $white;
    box-shadow: 0 4px 14px rgba($black, .2);
    border-radius: 2px;
    width: 264px;
    max-height: 250px;
    margin: 0;
    margin-top: -1px;
    overflow: auto;
    font-size: 15px;
    padding: 0;
    & a span {
        display: inline-block;
        line-height: 1;
        padding: 2px 4px;
        border-radius: 3px;
    }
    & a {
        display: block;
        text-decoration: none;
        padding: 10px 8px;
        white-space: nowrap;
        border-bottom: 1px solid rgba($black, .05);
    }
    & a:last-child {
        border-bottom-color: transparent;
    }
    & a {
        color: #000;
        &:hover {
            color: $white !important;
            background-color: $blue !important;
        }
        &.redactor-dropdown-item-disabled {
            color: rgba($black, .4);
            background: $white;
        }
    }
}
.redactor-dropdown-cells {
    margin: 10px auto;
    & a,
    & span {
        float: left;
        cursor: pointer;
        box-sizing: border-box;
        text-align: center;
        padding: 0;
        margin: 0;
        font-size: 14px;
    }
}
.redactor-dropdown-selector {
    display: flex;
    text-align: center;

    & span {
        flex-grow: 1;
        font-size: 12px;
        padding: 8px;
        cursor: pointer;
        &:hover {
            background: $gray-350;
        }
        &.active {
            cursor: text;
            color: rgba($black, .3);
            background: $gray-350;
        }
    }
}

// Block Format
.redactor-dropdown-format {
	& .redactor-dropdown-item-blockquote {
		//color: rgba($black, .4);
		//font-style: italic;
	    font-size: 17.5px;
		border-left: 5px solid $gray-500;
	}
	& .redactor-dropdown-item-pre {
		font-family: monospace, sans-serif;
	}
	& .redactor-dropdown-item-h1 {
		font-size: 28px; //40px;
		font-weight: bold;
		line-height: 32px;
	}
	& .redactor-dropdown-item-h2 {
		font-size: 21px; //32px;
		font-weight: bold;
		line-height: 32px;
	}
	& .redactor-dropdown-item-h3 {
		font-size: 24px; //24px;
		font-weight: bold;
		line-height: 24px;
	}
	& .redactor-dropdown-item-h4 {
		font-size: 18px; //21px;
		font-weight: bold;
		line-height: 24px;
	}
	& .redactor-dropdown-item-h5 {
		font-size: 14px; //18px;
		font-weight: bold;
		line-height: 24px;
	}
	& .redactor-dropdown-item-h6 {
		font-size: 14px;
		text-transform: uppercase;
		font-weight: bold;
		line-height: 24px;
	}
	// Custom Styles
	& .redactor-dropdown-item-alert-info {
		//background-color: #d9edf7;
		color: #31708f;
		
	}
	
	& .redactor-dropdown-item-alert-success {
		//background-color: #dff0d8;
		color: #1E381E;
		
	}
	
	& .redactor-dropdown-item-alert-warning {
		//background-color: #fcf8e3;
		color: #8a6d3b;
		
	}
	
	& .redactor-dropdown-item-alert-danger {
		//background-color: #f2dede;
		color: #a94442;
		
	}
}