@import "../icons/fontawesome";
@import "../icons/light";
@import "../icons/regular";
@import "../icons/solid";
@import "../icons/brands";

[class^="re-icon-"]:before, [class*=" re-icon-"]:before {
  /* use !important to prevent issues with browser extensions that change fonts */
/*
  font-family: 'Redactor' !important;
  speak: none;
  font-style: normal;
  font-weight: normal;
  font-variant: normal;
  text-transform: none;
  line-height: 1;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
*/
	display: inline-block;
	font-style: normal;
	font-variant: normal;
	text-rendering: auto;
	-webkit-font-smoothing: antialiased;
	font-family: "Font Awesome 5 Pro" !important;
	font-weight: 500;
	// margin-right: .25rem;
    text-align: center;
    width: 1.25em;
    float: left;
}

.re-icon-aligncenter:before {
  content: fa-content($fa-var-align-center);
}
.re-icon-alignment:before,
.re-icon-alignleft:before {
  content: fa-content($fa-var-align-left);
}
.re-icon-alignright:before {
  content: fa-content($fa-var-align-right);
}
.re-icon-bold:before {
  content: fa-content($fa-var-bold);
}
.re-icon-bookmark:before {
  content: fa-content($fa-var-bookmark);
}
.re-icon-clips:before {
  content: fa-content($fa-var-toolbox);
}
.re-icon-codesnippets:before {
  content: fa-content($fa-var-brackets-curly);
}
.re-icon-deleted:before {
  content: fa-content($fa-var-strikethrough);
}
.re-icon-expand:before {
  content: fa-content($fa-var-expand-wide);
}
.re-icon-file:before {
  content: fa-content($fa-var-file);
}
.re-icon-fontcolor:before {
  content: fa-content($fa-var-palette);
}
.re-icon-fontfamily:before {
  content: fa-content($fa-var-font);
}
.re-icon-fontsize:before {
  content: fa-content($fa-var-text-height);
}
.re-icon-format:before {
  content: fa-content($fa-var-paragraph);
}
.re-icon-html:before {
  content: fa-content($fa-var-code);
}
.re-icon-imagecenter:before {
  content: fa-content($fa-var-image);
}
.re-icon-imageleft:before {
  content: fa-content($fa-var-image);
}
.re-icon-imageright:before {
  content: fa-content($fa-var-image);
}
.re-icon-image:before {
  content: fa-content($fa-var-file-image);
}
.re-icon-indent:before {
  content: fa-content($fa-var-indent);
}
.re-icon-inline:before {
  content: fa-content($fa-var-square);
}
.re-icon-italic:before {
  content: fa-content($fa-var-italic);
}
.re-icon-line:before,
.re-icon-horizontalrule:before {
  content: fa-content($fa-var-window-minimize);
}
.re-icon-link:before {
  content: fa-content($fa-var-link);
}
.re-icon-ol:before,
.re-icon-ordered:before {
  content: fa-content($fa-var-list-ol);
}
.re-icon-outdent:before {
  content: fa-content($fa-var-outdent);
}
.re-icon-properties:before {
  content: fa-content($fa-var-info-circle);
}
.re-icon-readmore:before {
  content: fa-content($fa-var-book);
}
.re-icon-redo:before {
  content: fa-content($fa-var-redo);
}
.re-icon-retract:before {
  content: fa-content($fa-var-compress-wide);
}
.re-icon-specialcharacters:before {
  content: fa-content($fa-var-tilde);
}
.re-icon-sub:before {
  content: fa-content($fa-var-subscript);
}
.re-icon-sup:before {
  content: fa-content($fa-var-superscript);
}
.re-icon-table:before {
  content: fa-content($fa-var-table);
}
.re-icon-textdirection:before {
  content: fa-content($fa-var-align-left);
}
.re-icon-toggle:before {
  content: fa-content($fa-var-sliders-v);
}
.re-icon-underline:before {
  content: fa-content($fa-var-underline);
}
.re-icon-undo:before {
  content: fa-content($fa-var-undo);
}
.re-icon-ul:before,
.re-icon-lists:before,
.re-icon-unordered:before {
  content: fa-content($fa-var-list-ul);
}
.re-icon-variable:before {
  content: fa-content($fa-var-brackets);
}
.re-icon-video:before {
  content: fa-content($fa-var-video);
}
.re-icon-widget:before {
  content: fa-content($fa-var-magnet);
}