.redactor-source,
.redactor-source:hover,
.redactor-source:focus {
    text-align: left;
	box-sizing: border-box;
    font-family: $monospace-font-family;
    width: 100%;
    display: block;
	margin: 0;
	border: none;
	box-shadow: none;
	border-radius: 0;
	background: $gray-900;
	color: $gray-100;
	font-size: .9rem;
	outline: none;
	padding: 1rem;
	line-height: 1.5;
	resize: vertical;
	margin-bottom: 0px !important;
}
.redactor-box[dir="rtl"] {
    .redactor-source {
        direction: ltr;
    }
}