.upload-redactor-box {
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
	box-sizing: border-box;
	border: 5px dashed rgba($blue, .15);
	position: relative;
	width: 100%;
	min-height: 220px;
	background: $white;
	cursor: pointer;
	overflow: hidden;
	text-align: center;
}
.upload-redactor-placeholder {
	font-size: 15px;
	line-height: 1.5;
	color: rgba($black, .3);
	font-style: italic;
}

.upload-redactor-hover { background-color: rgba($blue, .075);   }
.upload-redactor-error { background-color: rgba($danger, .075);   }

.upload-redactor-box-hover { outline: 5px dashed rgba($blue, .3); }
.upload-redactor-box-error { outline: 5px dashed rgba($danger, .3);  }